@import url("owl.css");

@font-face {
  font-family: 'aurebesh';
  src: url('aurebesh.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Mobile first design */

/* General styles */

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    font-size: 9pt;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 20pt;
    font-weight: bold;
    margin: 4px;
}

h2, h3, h4 {
    font-weight: normal;
}

h2 {
    font-size: 16pt;
    display: inline;
    margin: 0 6px 12px 6px;
}

h3 {
    font-size: 10pt;
    color: #444444;
    margin: 6px 12px 12px 12px;
}

h4 {
    font-size: 10pt;
    line-height: 9pt;
    display: inline;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
    color: #002;
}

img {
    border: none;
}

div {
    margin-top: 0;
}

li {
    margin-top: 3px;
}

/* Components */

#options {
    display: block;
}

#menu, #welcome, #title {
    margin: 5px;
    width: 100%;
}

#entityfinder {
    flex: 1 1 auto;
    margin: 0 5px;
}

#content {
    margin-top: 15px;
}

.owlselector {
    margin: 5px;
}

#main {
    width: 100%;
}

#metrics {
    margin: 5px;
}

#metrics table {
    border: solid 1px #c7cfd5;
    background: #fff;
    color: #000;
    padding: 5px 5px 5px 25px;
    margin: 5px 0 10px 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-align: right;
    width: 99%;
}

#metrics table tr:hover {
    background: #eeeeee;
}

#metrics table td {
    padding: 4px;
    border: none;
    overflow-wrap: anywhere;
}

#metrics tbody td:first-child{
    display: list-item;
    text-align: left;
}

a.burger, a.burger:hover, a.burger:active {
    padding: 5px;
    font-size: 14pt;
    text-decoration: none;
    float: right;
}

#welcome li {
    margin-top: 10px;
}

.characteristics {
    vertical-align: top;
    padding-right: 5px; /* enough space for the scroller */
}

.characteristic {
    margin: 5px;
}

.characteristic h3 {
    font-size: 10pt;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.characteristic ul {
    border: solid 1px #c7cfd5;
    background: #fff;
    color: #000;
    padding: 5px 5px 5px 25px;
    margin: 0 0 10px 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.characteristic li {
    padding: 4px;
    clear: both;
}

.characteristic li:hover {
    background: #eeeeee;
}

.characteristic .source-ont {
    float: right;
}

.characteristic.object_property_assertions .active-entity,
.characteristic.negative_object_property_assertions .active-entity,
.characteristic.data_property_assertions .active-entity,
.characteristic.negative_data_property_assertions .active-entity{
    display: none;
}

.highlight {
    background-color: #ffffaa;
}

.imageHolder{
    overflow: auto;
    text-align: center;
    margin-bottom: 12px;
}

.optiongroup {
    margin-top: 20px;
    margin-left: 40px;
}

.optiongroup table{
    margin-top: 20px;
    width: 100%;
}

.optiongroup select {
    width: 80%;
}

.optiongroup input[type=text]{
    width: 80%; margin-right: 10px;
}

td.key{
    width: 150px; text-align: right;
}

#queryform {
    background: #ddddff;
    padding: 5px;
}

#signout img {
    position: relative;
    top: 4px;
}

#options a {
    color: inherit;
    padding-right: 25px;
}

#findForm, #activeOnt {
    display: block;
    margin: 5px 0;
}

#activeOnt select {
    width: 100%;
    height: 24px;
}

#findForm {
    display: flex;
    justify-content: center;
}

#as_find {
    max-height: 75vh;
    overflow: auto;
}

#find, .autosuggest li {
    width: 98%;
    padding-left: 10px;
}

#tabs {
    color: #aaaacc;
    margin-bottom: 16px;
}

#tabs li {
    list-style: circle;
}

#tabs a, #tabs span.currentpage {
    padding: 2px;
}

.cloud{
    text-align: center;
    margin: auto;
    width: 90%;
    background-color: black;
}

.cloud span.entity {
    margin: 5pt;
}

/* Let the cloud spans determine the color */
.cloud a.Class,
.cloud a.Object.Property,
.cloud a.Data.Property,
.cloud a.Annotation.Property,
.cloud a.Individual,
.cloud a.Datatype{
    color: inherit;
}

/* we want links in literals to look like links*/
.literal a {
    color: #002;
    text-decoration: underline;
}

a.subsexpand {
    color: #555555;
    font-size: 7pt;
    text-decoration: underline;
    line-height: 180%;
}

a.help {
    float: right;
}

a.permalink {
    font-size: smaller;
}

.minihierarchy, .minihierarchy ul {
    list-style-type: none;
    border: none;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

ul.minihierarchy {
    border: solid 1px #c7cfd5;
    background: #fff;
    color: #000;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: auto;
    height: 200px;
    padding-left: 10px;
}

.minihierarchy ul {
    padding-left: 15px;
}

.minihierarchy ul li {
    white-space: nowrap;
}

.minihierarchy .expandable{
    cursor: pointer;
}

.inferred{
    border: dotted gray 1px;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter:alpha(opacity=60);
}

p.footer {
    display: flex;
    justify-content: space-around;
    font-size: 7pt;
    margin: 5px;
    width: 100%;
}

form.autocomplete {
    display: inline;
}

#queries {
    padding: 0;
}

#queries li {
    list-style-type: none;
}

form#load {
    margin-bottom: 50px;
}

#rendererForm {
    display: inline;
}

#queryPane {
    flex: 2 2 auto;
}

#dlQueryForm {
    display: flex;
}

.dlQueryWrapper {
    display: flex;
    flex-flow: column;
    flex: 6 1 auto;
}

.dlQuery{
    flex: 1 1 auto;
    margin: 5px;
}

#dlQueryOptions {
    flex: 2 1 auto;
    margin: 5px;
}

#dlQuerySubmit{
    margin: 5px;
    background: none;
    border: solid 1px black;
}

.iri{
    color: #002;
    font-size: smaller;
    margin: 8px;
}

.iri a, .iri form, .iri h3{
    display: inline;
}

.iri h3 {
    margin-left: 0;
}

.googlemaps{
    margin-left: auto;
    margin-right: auto;
    width: 425px; height: 350px;
    margin-bottom: 12px;
}

img.icon {
    position: relative;
    top: 2px;
    width: 24px;
    height: 24px;
}

img.button {
    position: relative;
    top: 8px;
}

img.min {
    display: inline;
    margin: 6px;
    margin-right: 0;
    cursor: pointer;
    vertical-align: middle;
}

img.thumb{
    vertical-align: top;
    margin-left: 6px;
}

.disabled {
    background-color: #bbbbdd;
}

.warn {
    color: #ff0000;
}

.aurebesh {
    font-family: 'aurebesh';
}

.basic {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

    /* Flex layout - see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    .wrapper {
      display: flex;
      flex-flow: row wrap;
    }


@media screen and (max-width: 800px) and (max-height: 450px) {

    ul.minihierarchy {
        width: 70%;
    }
}

@media screen and (min-width: 800px) and (min-height: 450px) {
    html, body {
        height: 100vh;
    }

    .wrapper {
        height: 100vh;
    }
}

@media screen and (min-width: 800px) {

    .wrapper {
      flex-flow: column;
    }

    #title {
        display:flex;
        flex: 0 1 auto;
        width: auto;
    }

    #main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow: hidden;
        width: auto;
    }

    #menu {
        width: auto;
    }

    #tabs {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
    }

    p.footer {
        flex: 0 1 auto;
        width: auto;
    }

    .owlselector {
        flex: 2 1 auto;
        display: flex;
        flex-direction: column;
    }

    .owlselector .min {
        display: none;
    }

    ul.minihierarchy {
        flex: 1 1 auto;
        overflow: auto;
        height: auto;
    }

    #content {
        flex: 3 1 auto;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .characteristics {
        flex: 0 1 auto;
        overflow: auto;
    }

    #metrics {
        flex: 0 1 auto;
    }

    #find, .autosuggest li {
        line-height: 24px;
        font-size: 18pt;
    }
}

@media screen and (max-width: 450px), (max-height: 450px) {

    body, input, select {
        font-size: 11pt;
    }

    h2 {
        font-size: 18pt;
    }

    h4 {
        font-size: 12pt;
    }
}

@media screen and (min-width: 800px) and (max-height: 450px) {

    ul.minihierarchy {
        height: 200px;
    }
}

