@import url("owl.css");

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-y: scroll;
}

body {
    background-color: #000;
    color: #fff;
    height:100%;
    font-size: 9pt;
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

img.icon {
    position: relative;
    top: 4px;
    width: 24px;
    height: 24px;
}

img.button {
    position: relative;
    top: 8px;
}

div {
    margin-top: 0;
}

div.characteristics {
    height: 100%;
    overflow: auto;
}

.owlselector {
    position: absolute;
    top: 250px;
    bottom: 20px;
    width: 300px;
}

.characteristic ul, .owlselector ul {
    border: solid 1px #c7cfd5;
    background: #ffffff;
    padding: 5px 5px 5px 25px;
    margin: 0 0 10px 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.characteristic h3 {
    font-size: 10pt;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.characteristic li {
    margin: 5px;
}

.clearfix {
    clear: both;
}

div.message {
    background: #f9f9bb;
    margin-bottom: 32px;
    padding-top: 0; padding-bottom: 0;
}

div.error {
    border-color: #f94444;
    overflow: auto;
}

div.message p{
    margin-bottom: 0;
}

div.message a{
    font-weight: bolder;
    color: #002;
}

div.imageHolder{
    overflow: auto;
    text-align: center;
    margin-bottom: 12px;
}

.optiongroup {
    margin-top: 20px;
    margin-left: 40px;
}

.optiongroup table{
    margin-top: 20px;
    width: 100%;
}

.optiongroup select {
    width: 80%;
}

.optiongroup input[type=text]{
    width: 80%; margin-right: 10px;
}

td.key{
    width: 150px; text-align: right;
}

#queryform {background: #ddddff; padding: 5px;}
#most_used_classes {text-align: center;}

h1 {font-size: 20pt;
    font-weight: bold;
    display: inline;
    margin-top: 0; margin-bottom: 12px;
}

h2, h3, h4 {
    font-weight: normal;
}

h2 {
    font-size: 16pt;
    display: inline;
    margin-top: 0; margin-bottom: 12px; margin-left: 6px; margin-right: 6px;
}

h3 {font-size: 10pt;
    color: #444444;
    margin-left: 12px; margin-top: 6px; margin-bottom: 12px;
}

h4 {
    font-size: 10pt;
    line-height: 9pt;
    display: inline;
}

#title {
    padding: 0;
}

#menu{
    padding: 10px;
    position: absolute;
    width: 300px;
    height:100%;
    overflow: auto;
    display: inline-block;
    float: left;
}

#main {
    background-color: #f1f5f9;
    color: #111;
    position: absolute;
    min-height:100%;
    left: 320px;
    right: 0;
    vertical-align: top;
    padding-right: 10px;
}

a.burger, a.burger:hover, a.burger:active {
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 14pt;
    text-decoration: none;
    -moz-border-top-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
}

#signout {
}

#signout img {
    position: relative;
    top: 4px;
}

#options{
}

#options a {
    color: inherit;
    padding-right: 25px;
}

#activeOnt {
    display: inline;
}

#activeOnt select {
    height: 24px;
    width: 100%;
    margin: 10px 0;
}

#tabs {
    color: #aaaacc;
    margin-bottom: 16px;
}

#tabs a, #tabs span.currentpage {
    color: #fff;
    padding: 2px;
}

#content {
    margin-top: 20px;
    padding-left: 10px;
}

div.cloud{
    text-align: center;
}

.minihierarchy {
    height: 90%;
    max-height: 800px;
    overflow: auto;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
    color: #002;
}

/* we want links in literals to look like links*/
.literal a {
    color: #002;
    text-decoration: underline;
}

a.subsexpand {
    color: #555555;
    font-size: 7pt;
    text-decoration: underline;
    line-height: 180%;
}

a.help {
    float: right;
}

a.permalink {
    font-size: smaller;
}

.minihierarchy ul {
    list-style-type: disc;
    border: none;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 15px;
    padding-bottom: 0
}

.minihierarchy ul li {
    white-space: nowrap;
}

li {
    margin-top: 3px;
}

ul.minihierarchy li{}
ul.minihierarchy li.expandable {}

.inferred{
    border: dotted gray 1px;
    opacity: 0.6;
    -moz-opacity:0.6;
    filter:alpha(opacity=60);
}

p.footer {
    font-size: 7pt;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    clear: both;
}

table {border-collapse: collapse}
td, tr {font-size: 9pt; border: none; vertical-align: top; padding: 3px;}
th {background-color:black; color:white; text-align: left;}

table.ontologytable{
    margin-bottom: 10px;
    width: 100%;
}
td.ontologyname{
}
td.location{
}
td.actions{
}
input.location{
    width:100%;
}

.disabled {background-color: #bbbbdd;}
.warn {color: #ff0000;}

form.autocomplete {
    display: inline;
}

#findForm{
}

form#load {
    margin-bottom: 50px;
}

form#bookmarks{
}

#find {
    width: 97.8%;
    height: 18px;
    margin-bottom: 10px;
}

#rendererForm {
    display: inline;
}

#rendererForm input[type=checkbox] {
}

#dlQuery{
    width: 90%;
    height: 200px;
    display: block;
    margin-bottom: 10px;
    margin-left: 5px; margin-right: 5px;
}

span.expandable{
    cursor: pointer;
}

.iri{
    color: #002;
    font-size: smaller;
    margin: 8px;
}

.iri a, .iri form, .iri h3{
    display: inline;
}

.iri h3 {
    margin-left: 0;
}

img.min {
    display: inline;
    margin: 6px;
    margin-right: 0;
    cursor: pointer;
    vertical-align: middle;
}

div.googlemaps{
    margin-left: auto;
    margin-right: auto;
    width: 425px; height: 350px;
    margin-bottom: 12px;
}

img.thumb{
    vertical-align: top;
    margin-left: 6px;
}

/* This is where ont selector and search clash */
@media screen and (max-width: 630px) {

    #findForm {
        float: none;
    }
}

@media screen and (max-width: 450px) {

    body, input, select {
        font-size: 11pt;
    }

    h2, div.owlselector h4 {
        font-size: 18pt;
    }

    h4 {
        font-size: 14pt;
    }

    #tabs {
        background-color: #ffffff;
        position: relative;
        top: -1px;
    }

    #tabs a, #tabs span.currentpage {
        background-color: none;
        margin: 5px;
        padding: 0;
        padding-right: 6px;
    }

    /* Doesn't quite match the 100% on the selector */
    #find {
        width: 98.3%;
    }

    #findForm {
        float: none;
    }

    form#bookmarks, form#load,
    #activeOnt select,
    div.owlselector, #content {
        float: none;
        clear: both;
        width: 100%;
    }
}
