@import url("owl.css");

@font-face {
  font-family: 'aurebesh';
  src: url('aurebesh.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Mobile first design */

/* General styles */

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.dark {
    color-scheme: dark;
    color: #b4b392;
}

.dark a {
    color: #dad6cd;
}

.dark a:hover {
    color: #dad6cd;
}

.dark .autosuggest {
    background-color: black;
}

body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 4px;
}

h2, h3 {
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    display: inline;
    margin: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    color: rgba(125, 125, 125, 0.8);
    margin: 1rem;
}

h4 {
    font-size: 1rem;
    font-weight: normal;
    display: inline;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
    color: #002;
}

img {
    border: none;
}

div {
    margin-top: 0;
}

li {
    margin-top: 3px;
}

/* Components */

#options {
    display: block;
}

#menu, #welcome, #title {
    margin: 5px;
    width: 100%;
}

#entityfinder {
    flex: 1 1 auto;
    margin: 0 5px;
}

#content {
    margin: 1rem 0.5rem;
}

.skip-nav {
    display: none;
}

.owlselector {
    margin: 1rem 0.5rem 0.5rem;
}

#main {
    width: 100%;
}

#metrics {
    margin: 5px;
}

#metrics table {
    border: solid 1px #c7cfd5;
    padding: 5px 5px 5px 25px;
    margin: 5px 0 10px 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-align: right;
    width: 99%;
}

#metrics table td {
    padding: 4px;
    border: none;
    overflow-wrap: anywhere;
}

#metrics tbody td:first-child{
    display: list-item;
    text-align: left;
}

.welcome p {
    font-size: 1.5rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    max-width: 100%;
}

.error h2 {
    font-size: 2rem;
}

.characteristics {
    vertical-align: top;
    padding-right: 5px; /* enough space for the scroller */
}

.characteristic {
    margin: 5px;
}

.characteristic h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.characteristic ul {
    border: solid 1px #c7cfd5;
    padding: 5px 5px 5px 25px;
    margin: 0 0 10px 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.characteristic li {
    padding: 4px;
    clear: both;
}

.characteristic li:hover, #metrics table tr:hover {
    background: rgba(125, 125, 125, 0.2);
    transition: ease-out 0.2s;
}

.characteristic .source-ont {
    float: right;
}

.characteristic.object_property_assertions .Named.individual.active-entity,
.characteristic.negative_object_property_assertions .Named.individual.active-entity,
.characteristic.data_property_assertions .Named.individual.active-entity,
.characteristic.negative_data_property_assertions .Named.individual.active-entity{
    display: none;
}

.highlight {
    background: rgba(255, 255, 0, 0.2);
}

.imageHolder{
    overflow: auto;
    text-align: center;
    margin-bottom: 12px;
}

.optiongroup {
    margin-top: 20px;
    margin-left: 40px;
}

.optiongroup table{
    margin-top: 20px;
    width: 100%;
}

.optiongroup select {
    width: 80%;
}

.optiongroup input[type=text]{
    width: 80%; margin-right: 10px;
}

td.key{
    width: 150px; text-align: right;
}

#queryform {
    background: #ff0000;
    padding: 5px;
}

#signout img {
    position: relative;
    top: 4px;
}

#options a {
    color: inherit;
    padding-right: 25px;
}

#findForm, #activeOnt {
    display: block;
    margin: 5px 0;
}

#activeOnt select {
    width: 100%;
    height: 24px;
}

#findForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

#as_find {
    max-height: 75vh;
    overflow: auto;
}

#search {
    height: 2rem;
    border-radius: 1rem;
}

#search, .autosuggest li {
    width: 98%;
    padding-left: 10px;
}

#burger {
    margin-right: 0.5rem;
    font-size: 2.5rem;
    text-decoration: none;
    cursor: pointer;
}

#tabs {
    color: rgba(125, 125, 125, 0.8);
    margin: 0 0.5rem;
    padding: 0;
}

#tabs li {
    list-style: none;
    border-top: solid 1px;
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
}

#tabs a, #tabs span.currentpage {
    padding: 2px;
}

.cloud{
    text-align: center;
    margin: auto;
    width: 90%;
}

.cloud span.entity {
    margin: 0.2rem;
}

/* Let the cloud spans determine the color */
.cloud a.Class,
.cloud a.Object.property,
.cloud a.Data.property,
.cloud a.Annotation.property,
.cloud a.Named.individual,
.cloud a.Datatype{
    color: inherit;
}

.dark .cloud a.Class,
.dark .cloud a.Object.property,
.dark .cloud a.Data.property,
.dark .cloud a.Annotation.property,
.dark .cloud a.Named.individual,
.dark .cloud a.Datatype{
    filter: invert(100%);
}

a.help {
    float: right;
}

a.permalink {
    font-size: smaller;
}

.minihierarchy, .minihierarchy ul {
    list-style-type: none;
    border: none;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

ul.minihierarchy {
    border: solid 1px #c7cfd5;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: auto;
    height: 200px;
    margin-top: 5px;
    padding-left: 10px;
}

.minihierarchy ul {
    padding-left: 15px;
}

.minihierarchy li {
    white-space: nowrap;
}

.minihierarchy .tree-node {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.minihierarchy li .node{
    font-family: monospace;
}

.minihierarchy li .node.expandable{
    cursor: pointer;
}

.minihierarchy li .child-count {
    display: inline-block;
    background-color: #a7d4e3;
    font-size: x-small;
}

/* hide the dummy nodes for annotations */
.minihierarchy.Annotation.Properties > li > .node,
.minihierarchy.Annotation.Properties > li > .tree-node,
.minihierarchy.Annotations.on > li > .node,
.minihierarchy.Annotations.on > li > .tree-node {
    display: none;
}

.dark .minihierarchy li .child-count {
    background-color: #671d16;
}

img.busy {
    height: 1rem;
    width: 1rem;
    margin: auto;
}

.inferred{
    border: dotted gray 1px;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter:alpha(opacity=60);
}

p.footer {
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
    margin: 5px;
    width: 100%;
}

form.autocomplete {
    display: inline;
}

#queries {
    padding: 0;
}

#queries li {
    list-style-type: none;
}

form#load {
    margin-bottom: 50px;
}

#rendererForm {
    display: inline;
}

#queryPane {
    flex: 1;
    overflow: auto;
    margin: 0.5rem;
}

#dlQueryForm {
    display: flex;
}

.dlQueryWrapper {
    display: flex;
    flex-flow: column;
    flex: 6 1 auto;
}

.dlQuery{
    flex: 1 1 auto;
    margin: 5px;
}

#dlQueryOptions {
    flex: 2 1 auto;
    margin: 5px;
}

#dlQuerySubmit{
    margin: 5px;
    background: none;
    border: solid 1px black;
}

.iri{
    color: #002;
    font-size: smaller;
    margin: 8px;
}

.iri a, .iri form, .iri h3{
    display: inline;
}

.iri h3 {
    margin-left: 0;
}

.googlemaps{
    margin-left: auto;
    margin-right: auto;
    width: 425px; height: 350px;
    margin-bottom: 12px;
}

.icon {
    position: relative;
    top: 2px;
    width: 24px;
    height: 24px;
}

.dark .icon {
    filter: invert(100%);
}

img.button {
    position: relative;
    top: 8px;
}

img.min {
    display: inline;
    margin: 6px;
    margin-right: 0;
    cursor: pointer;
    vertical-align: middle;
}

img.thumb{
    vertical-align: top;
    margin-left: 6px;
}

.disabled {
    background-color: #bbbbdd;
}

.warn {
    color: #ff0000;
}

.aurebesh {
    font-family: 'aurebesh';
}

.basic {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

/* Flex layout - see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.axioms-form{
    margin-left: 0.3em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}

.axioms-form h2 {
    margin-bottom: 0;
}

.axioms-form input[type="text"] {
    font-size: 1.5em;
    width: 50%;
    padding-left: 10px;
}

.search-icon {
    border: none;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    background-size: contain;
    background-color: inherit;
    background-repeat: no-repeat;
    background-image: url("../../static/images/search-svgrepo-com.svg");
    position: relative;
    left: -3em;
    cursor: pointer;
}

.paging {
    margin-left: 0.2em;
}

.paging-arrow {
    color: #aaa;
}

.paging-arrow a {
    font-weight: bolder;
}

.paging-arrow a:hover {
    text-decoration: none;
}

.edit {
    margin: 0 5px;
    display: none;
}

.edit.active {
    display: block;
}

#edit {
    display: flex;
    flex-direction: row;
}

#edit-axiom {
    flex-grow: 2;
}

#edit-ontology {
    float: right;
}

.debug {
    background-color: rgba(120, 150, 255, 0.2);
}

@media screen and (max-width: 800px) and (max-height: 450px) {

    #burger {
        display: none;
    }

    ul.minihierarchy {
        width: 70%;
    }
}

@media screen and (min-width: 800px) and (min-height: 450px) {
    html, body {
        height: 100vh;
    }

    #burger {
        display: none;
    }

    .wrapper {
        height: 100vh;
    }
}

@media screen and (min-width: 800px) {

    .wrapper {
      flex-flow: column;
    }

    #burger {
        display: none;
    }

    #title {
        display:flex;
        flex: 0 1 auto;
        width: auto;
    }

    #main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow: hidden;
        width: auto;
    }

    #menu {
        width: auto;
    }

    #tabs {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
    }

    p.footer {
        flex: 0 1 auto;
        width: auto;
    }

    .owlselector {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .owlselector .min {
        display: none;
    }

    ul.minihierarchy {
        flex: 1 1 auto;
        overflow: auto;
        height: auto;
    }

    #content {
        flex: 2;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .characteristics {
        flex: 0 1 auto;
        overflow: auto;
    }

    #metrics {
        flex: 0 1 auto;
    }

    #search, .autosuggest li {
        line-height: 24px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px), (max-height: 450px) {

    body, input, select {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 800px) and (max-height: 450px) {

    ul.minihierarchy {
        height: 200px;
    }
}

