div.events {
    margin-left: 5em;
}

.events ul {
    padding-left: 0;
}

.events li {
    list-style: none;
    margin-top: 0;
}

.events .timeline {
    display: flex;
    align-items: flex-start;
}

.events .prop {
    margin-top: 1rem;
    height: 0;
    /*border-top: 2px solid rgba(65, 137, 160, 0.46);*/
    min-width: 5rem;
}

.events .prop.sometimeAfter {
    /*border-top: 2px dashed rgba(65, 137, 160, 0.46);*/
    min-width: 6rem;
}

/** TODO remove when done **/
.events .prop.wrong {
    /*border-top: 2px solid red;*/
}

/** TODO remove when done **/
.events .prop.sometimewrong {
    /*border-top: 2px dashed red;*/
}

.events .dot {
    height: 2rem;
    width: 2rem;
    border: 2px solid #4189a0;
    border-radius: 50%;
    position: relative;
    text-align: center;
}

.events .dot .event-year {
    color: #4189a0;
    position: relative;
    top: 0.35rem;
}

.events .parent {
    position: relative;
    top: -6px;
    border: 1px solid rgba(66, 155, 88, 0.45);
    border-radius: 5px;
    padding: 5px 0;
}

.events .filter1 {
    border-color: #f58f06;
    background-color: lightyellow;
}

.faint {
    opacity: 0.4;
}

.events .event-label {
    font-size: 0.7rem;
    background-color: white;
    position: absolute;
    top: 2rem;
    left: 2rem;
    transform: rotate(45deg);
    transform-origin: top left;
    white-space: nowrap;
    z-index: 100;
}

.events .parent>.event-label {
    font-size: 1.2rem;
    font-weight: bold;
    background: none;
    top: -1rem;
    left: -20.5rem;
    width: 20rem;
    text-align: right;
    transform-origin: bottom right;
}

.events .parent>.event-label a {
    color: rgba(48, 115, 141, 0.5) !important;
}

.events .parallel {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 1.2rem;
}

.events .parallel:hover {
    background-color: rgba(120, 120, 200, 0.05);
}

.events .diverge:not(:first-child)>.prop:first-child {
    position: relative;
}

.events .diverge:not(:first-child)>.prop:first-child::before {
    content: '';
    position: absolute;
    height: 4.78rem;
    bottom: 0;
    /*border-left: 2px solid rgba(65, 137, 160, 0.46);*/
}

.events .converge:not(:first-child)>.prop:last-child {
    position: relative;
}

.events .converge:not(:first-child)>.prop:last-child::after {
    content: '';
    position: absolute;
    height: 4.78rem;
    right: 0;
    bottom: 0;
    /*border-right: 2px solid rgba(65, 137, 160, 0.46);*/
    width: 2px;
}

.events .converge .prop, .events .diverge .prop {
    flex-grow: 1;
}

.dark .events .event-label {
    color: white;
    background-color: #121212;
}

.dark .events .parent>.event-label a {
    color: rgba(48, 115, 141, 0.5) !important;
    background: none;
}