
.literal {
    color: green;
}

.annotation-uri {
    color: gray;
}

.ontology-uri {
    color: gray;
}

.active-ontology-uri {
    color: #330033;
}

.active-entity {
    background-color: #ffffaa;
}

.deprecated {
    color: #222222;
    text-decoration: line-through;
}

/* keywords - default cyan */
.keyword {
    color: #00B2B2;
    font-weight: bolder;
}

.comment {
    color: green;
}

.some, .only, .value, .min, .max, .exactly {
    color: #B200B2;
    font-weight:bolder;
}

.Class{
    color: #000000;
}

a.Class:hover{
    color: #002;
}

.Object.property{
    color: #004e4f;
    font-style: italic;
}

a.Object.property:hover{
    color: #006363;
    font-style: italic;
}

.Data.property{
    color: #18327a;
    font-style: italic;
}

a.Data.property:hover{
    color: #1d3b91;
    font-style: italic;
}


.Annotation.property{
    color: #155700;
    font-style: italic;
}

a.Annotation.property:hover{
    color: #249400;
    font-style: italic;
}

.Named.individual{
    color: #000000;
    font-style: italic;
}

a.Named.individual:hover{
    color: #002;
    font-style: italic;
}