@import url("theme.css");
@import url("owl.css");

/* allow animation over non-numeric height values */
:root {
    interpolate-size: allow-keywords;
}

/* Mobile first design */

/* General styles */

html {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 300;
    margin: 4px;
}

h2, h3 {
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
    display: inline;
    margin: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    color: rgba(125, 125, 125, 0.8);
    margin: 0.2rem;
}

h4 {
    font-size: 1rem;
    font-weight: normal;
    display: inline;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
    color: #002;
}

img {
    border: none;
}

div {
    margin-top: 0;
}

li {
    margin-top: 3px;
}

/* Components */

#menu, #title {
    margin: 5px;
    width: 100%;
}

#title .group {
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: space-between;
}

#menu {
    transition: height 0.3s ease-in-out;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

#menu.hidden {
    height: 0;
}

#content {
    margin: 1rem 0.5rem;
}

.skip-nav {
    display: none;
}

#main {
    width: 100%;
    overflow: hidden;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    max-width: 100%;
}

.error h2 {
    font-size: 2rem;
}

.ontology-page {
    display: flex;
    flex-direction: column-reverse; /* charts first */
}

.characteristics {
    vertical-align: top;
    padding-right: 5px; /* enough space for the scroller */
    padding-left: 1rem;
}

.characteristic {
    margin-bottom: 0.5rem;
}

.characteristic .header {
    display: flex;
}

.characteristic .header h4 {
    display: inline-block;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.characteristic .header:before {
    transition: rotate 0.3s ease-in-out;
    content: "▼";
    margin-right: 0.2rem;
    rotate: 0;
}

.characteristic.hidden .header:before {
    rotate: -90deg;
}

.characteristic > ul, .characteristic > .table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
    overflow: hidden;

    border: solid 1px #c7cfd5;
    padding: 5px 5px 5px 25px;
    margin: 0.25rem 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.characteristic.hidden > ul, .characteristic.hidden > .table-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
    height: 0;
}

.characteristic > ul > li {
    padding: 4px;
    clear: both;
}

.characteristic > li:hover, .characteristic tr:hover {
    background: rgba(125, 125, 125, 0.2);
    transition: ease-out 0.2s;
}

.characteristic .source-ont {
    float: right;
    font-size: 0.8rem;
}

.characteristic.object_property_assertions .Named.individual.active-entity,
.characteristic.negative_object_property_assertions .Named.individual.active-entity,
.characteristic.data_property_assertions .Named.individual.active-entity,
.characteristic.negative_data_property_assertions .Named.individual.active-entity {
    display: none;
}

.highlight {
    background: rgba(255, 255, 0, 0.2);
}

.imageHolder {
    overflow: auto;
    text-align: center;
    margin-bottom: 12px;
}

#findForm {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#as_find {
    max-height: 75vh;
    overflow: auto;
}

#search {
    height: 2rem;
    border-radius: 1rem;
    border: solid 2px rgba(125, 125, 125, 0.8);
}

#search, .autosuggest li {
    width: 98%;
    padding-left: 10px;
}

#burger {
    margin-right: 0.5rem;
    font-size: 2.5rem;
    text-decoration: none;
    cursor: pointer;
}

#ontology-selector {
    width: fit-content;
    position: relative;
}

#ontology-selector .current-ontology {
    font-weight: 400;
    margin: 0 0.5rem;
    padding: 0.5rem;
    height: 1rem;
    border-radius: 1rem;
    border: solid 2px rgba(125, 125, 125, 0.8);
    cursor: pointer;
}

#ontology-selector ul {
    opacity: 0;
    position: absolute;
    top: 2.25rem;
    right: 0;
    height: 0;
    overflow: auto;
    background-color: #fff;
    margin: 0;
    padding-left: 0.5rem;
    border: solid 1px #000;
    z-index: 1000;
}


/* show ontology selector when hover on current */
#ontology-selector:hover ul {
    opacity: 1;
    height: 20rem;
}

/* or on the actual ontology selector */
#ontology-selector ul:hover {
    opacity: 1;
    height: 20rem;
}

#ontology-selector ul li {
    list-style: none;
    white-space: nowrap;
}

#tabs {
    color: rgba(125, 125, 125, 0.8);
    margin: 0 0.5rem;
    padding: 0;
}

#tabs li {
    list-style: none;
    border-top: solid 1px;
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
}

#tabs a, #tabs span.currentpage {
    padding: 2px;
}

.inferred {
    border: dotted gray 1px;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9rem;
    margin: 5px;
    width: 100%;
}

#footer a {
    margin: 0 0.5rem;
}

.editor {
    width: 95%;
    height: 16rem;
}

.editor.prefixes {
    height: 6rem;
    margin-bottom: 0.5rem;
}

.editor.dl {
    height: 6rem;
    margin-bottom: 0.5rem;
}

#entityPane {
    height: 25rem;
}

/* BUTTONS */

img.busy {
    height: 1rem;
    width: 1rem;
    margin: auto;
}

img.button {
    position: relative;
    top: 8px;
}

.graph-button {
    font-size: 1.8rem;
}

.icon-button {
    font-size: 2rem;
    margin: 5px;
    background: none;
    border: none;
    cursor: pointer;
    min-width: 2.5rem;
    height: 2.5rem;
    text-align: center;
}

.icon-button:hover {
    background-color: rgba(207, 207, 207, 0.49);
    border-radius: 1.25rem;
}

.icon-button svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.5rem;
}

.iri {
    color: #002;
    font-size: smaller;
    margin: 8px;
}

.iri a, .iri form, .iri h3 {
    display: inline;
}

.iri h3 {
    margin-left: 0;
    font-weight: normal;
}

.icon {
    position: relative;
    top: 2px;
    width: 24px;
    height: 24px;
}

img.thumb {
    vertical-align: top;
    margin-left: 6px;
}

.disabled {
    background-color: #bbbbdd;
}

.warn {
    color: #ff0000;
}

/* Flex layout - see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.axiom-category {
    color: #1d3b91;
    font-size: smaller;
}

.axioms-form {
    margin-left: 0.3em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}

.axioms-form h2 {
    margin-bottom: 0;
}

.axioms-form input[type="text"] {
    font-size: 1.5em;
    width: 50%;
    padding-left: 10px;
}

/* Needed to prevent the icon from taking space when we move it left "inside" the search field */
.search-icon-wrapper {
    position: relative;
    height: 1.5em;
}

.search-icon {
    border: none;
    width: 1.5em;
    margin-left: 0.5em;
    background-size: contain;
    background-color: inherit;
    background-repeat: no-repeat;
    background-image: url("/images/search-svgrepo-com.svg");
    position: absolute;
    left: -3em;
    cursor: pointer;
}

.paging {
    margin-left: 0.2em;
}

.paging-arrow {
    color: #aaa;
}

.paging-arrow a {
    font-weight: 300;
}

.paging-arrow a:hover {
    text-decoration: none;
}

.edit {
    margin: 0 5px;
    display: none;
}

.edit.active {
    display: block;
}

#edit {
    display: flex;
    flex-direction: row;
}

#edit-axiom {
    flex-grow: 2;
}

#edit-ontology {
    float: right;
}

.debug {
    background-color: rgba(120, 150, 255, 0.2);
}

@media screen and (max-width: 800px) and (max-height: 450px) {

    #burger {
        display: none;
    }
}

@media screen and (min-width: 800px) and (min-height: 450px) {
    html, body {
        height: 100vh;
    }

    #burger {
        display: none;
    }

    .wrapper {
        height: 100vh;
    }
}

@media screen and (min-width: 800px) {

    .wrapper {
        flex-flow: column;
    }

    #burger {
        display: none;
    }

    #title {
        width: 99%;
        display: flex;
        justify-content: stretch;
        align-items: center;
        margin: 0.25rem 0.5rem;
    }

    #main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow: hidden;
        width: auto;
    }

    #main.three-pane {
        flex-grow: 2;
        height: 72vh;
    }

    #menu {
        width: auto;
        overflow: initial;
    }

    #menu.hidden {
        height: auto; /* always visible even if "hidden" from burger */
    }

    #tabs {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
    }

    #footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 0 1 auto;
        width: auto;
    }

    #content {
        flex: 2;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .characteristics {
        flex: 0 1 auto;
        overflow: auto;
    }

    #search, .autosuggest li {
        line-height: 24px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px), (max-height: 450px) {

    body, input, select {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }
}

