@import url("owl.css");

/* allow animation over non-numeric height values */
:root {
    interpolate-size: allow-keywords;
}

/* Mobile first design */

/* General styles */

html {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

#darkmode {
    font-size: 2rem;
}

[data-theme="dark"] {
    color-scheme: dark;
    color: #b4b392;
}

[data-theme="dark"] a {
    color: #dad6cd;
}

[data-theme="dark"] a:hover {
    color: #dad6cd;
}

[data-theme="dark"] .autosuggest {
    background-color: black;
}

h1 {
    font-size: 2rem;
    font-weight: 300;
    margin: 4px;
}

h2, h3 {
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
    display: inline;
    margin: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    color: rgba(125, 125, 125, 0.8);
    margin: 0.2rem;
}

h4 {
    font-size: 1rem;
    font-weight: normal;
    display: inline;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
    color: #002;
}

img {
    border: none;
}

div {
    margin-top: 0;
}

li {
    margin-top: 3px;
}

/* Components */

#options {
    display: block;
}

#menu, #welcome, #title {
    margin: 5px;
    width: 100%;
}

#menu {
    transition: height 0.3s ease-in-out;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

#menu.hidden {
    height: 0;
}

#entityfinder {
    flex: 1 1 auto;
    margin: 0 5px;
}

#content {
    margin: 1rem 0.5rem;
}

.skip-nav {
    display: none;
}

.owlselector {
    margin: 1rem 0.5rem 0.5rem;
}

#main {
    width: 100%;
    overflow: hidden;
}

#metrics table {
    text-align: right;
    width: 100%;
    align-items: end;
}

#metrics table td {
    padding: 4px;
    border: none;
    overflow-wrap: anywhere;
}

#metrics tbody td:first-child {
    display: list-item;
    text-align: left;
}

.welcome p {
    font-size: 1.5rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
}

.entity-header {

}

.graph-button {
    font-size: 1.8rem;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    max-width: 100%;
}

.error h2 {
    font-size: 2rem;
}

.ontology-page {
    display: flex;
    flex-direction: column-reverse; /* charts first */
}

.characteristics {
    vertical-align: top;
    padding-right: 5px; /* enough space for the scroller */
    padding-left: 1rem;
}

.characteristic {
    margin-bottom: 0.5rem;
}

.characteristic .header {
    display: flex;
}

.characteristic .header h4 {
    display: inline-block;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.characteristic .header:before {
    transition: rotate 0.3s ease-in-out;
    content: "▼";
    margin-right: 0.2rem;
    rotate: 0;
}

.characteristic.hidden .header:before {
    rotate: -90deg;
}

.characteristic > ul, .characteristic > .table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
    overflow: hidden;

    border: solid 1px #c7cfd5;
    padding: 5px 5px 5px 25px;
    margin: 0.25rem 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.characteristic.hidden > ul, .characteristic.hidden > .table-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
    height: 0;
}

.characteristic > ul > li {
    padding: 4px;
    clear: both;
}

.characteristic > li:hover, .characteristic tr:hover {
    background: rgba(125, 125, 125, 0.2);
    transition: ease-out 0.2s;
}

.characteristic .source-ont {
    float: right;
    font-size: 0.8rem;
}

.characteristic.object_property_assertions .Named.individual.active-entity,
.characteristic.negative_object_property_assertions .Named.individual.active-entity,
.characteristic.data_property_assertions .Named.individual.active-entity,
.characteristic.negative_data_property_assertions .Named.individual.active-entity {
    display: none;
}

.highlight {
    background: rgba(255, 255, 0, 0.2);
}

.imageHolder {
    overflow: auto;
    text-align: center;
    margin-bottom: 12px;
}

.optiongroup {
    margin-top: 20px;
    margin-left: 40px;
}

.optiongroup table {
    margin-top: 20px;
    width: 100%;
}

.optiongroup select {
    width: 80%;
}

.optiongroup input[type=text] {
    width: 80%;
    margin-right: 10px;
}

td.key {
    width: 150px;
    text-align: right;
}

#queryform {
    background: #ff0000;
    padding: 5px;
}

#signout img {
    position: relative;
    top: 4px;
}

#options a {
    color: inherit;
    padding-right: 25px;
}

#findForm, #activeOnt {
    display: block;
    margin: 5px 0;
}

#activeOnt select {
    width: 100%;
    height: 24px;
}

#findForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

#as_find {
    max-height: 75vh;
    overflow: auto;
}

#search {
    height: 2rem;
    border-radius: 1rem;
}

#search, .autosuggest li {
    width: 98%;
    padding-left: 10px;
}

#burger {
    margin-right: 0.5rem;
    font-size: 2.5rem;
    text-decoration: none;
    cursor: pointer;
}

#tabs {
    color: rgba(125, 125, 125, 0.8);
    margin: 0 0.5rem;
    padding: 0;
}

#tabs li {
    list-style: none;
    border-top: solid 1px;
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
}

#tabs a, #tabs span.currentpage {
    padding: 2px;
}

.cloud {
    text-align: center;
    margin: auto;
    width: 90%;
}

.cloud span.entity {
    margin: 0.2rem;
}

/* Let the model spans determine the color */
.cloud a.Class,
.cloud a.Object.property,
.cloud a.Data.property,
.cloud a.Annotation.property,
.cloud a.Named.individual,
.cloud a.Datatype {
    color: inherit;
}

[data-theme="dark"] .cloud a.Class,
[data-theme="dark"] .cloud a.Object.property,
[data-theme="dark"] .cloud a.Data.property,
[data-theme="dark"] .cloud a.Annotation.property,
[data-theme="dark"] .cloud a.Named.individual,
[data-theme="dark"] .cloud a.Datatype {
    filter: invert(100%);
}

a.help {
    float: right;
}

a.permalink {
    font-size: smaller;
}

.minihierarchy, .minihierarchy ul {
    list-style-type: none;
    border: none;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

ul.minihierarchy {
    border: solid 1px #c7cfd5;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: auto;
    height: 200px;
    margin-top: 5px;
    padding-left: 10px;
}

.minihierarchy ul {
    padding-left: 15px;
}

.minihierarchy li {
    white-space: nowrap;
}

.minihierarchy .tree-node {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.minihierarchy li .node {
    font-family: monospace;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 1rem;
    padding: 0 0.5rem;
}

/* expand/collapse node button */
.minihierarchy li > .node:before {
    content: "-";
}

.minihierarchy li.with-children > .node:before {
    transition: rotate 0.3s ease-in-out;
    display: inline-block;
    content: "▶";
}

.minihierarchy li.with-children.expanded > .node:before {
    rotate: 90deg;
}

/* show/hide children */
.minihierarchy li.with-children > ul {
    transition: height 0.3s ease-in-out;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;
    height: 0;
}

.minihierarchy li.with-children.expanded > ul {
    height: auto;
}

.minihierarchy li .child-count {
    display: inline-block;
    background-color: #a7d4e3;
    font-size: x-small;
}

/* hide the dummy nodes for annotations */
.minihierarchy.Annotation.Properties > li > .node,
.minihierarchy.Annotation.Properties > li > .tree-node,
.minihierarchy.Annotations.on > li > .node,
.minihierarchy.Annotations.on > li > .tree-node {
    display: none;
}

[data-theme="dark"] .minihierarchy li .child-count {
    background-color: #671d16;
}

img.busy {
    height: 1rem;
    width: 1rem;
    margin: auto;
}

.inferred {
    border: dotted gray 1px;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity=60);
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9rem;
    margin: 5px;
    width: 100%;
}

#footer a {
    margin: 0 0.5rem;
}

form.autocomplete {
    display: inline;
}

#queries {
    padding: 0;
}

#queries li {
    list-style-type: none;
}

form#load {
    margin-bottom: 50px;
}

#rendererForm {
    display: inline;
}

#query-pane {
    flex: 1;
    overflow: auto;
    margin: 0.5rem;
}

.editor {
    width: 95%;
    height: 16rem;
}

.editor.prefixes {
    height: 6rem;
    margin-bottom: 0.5rem;
}

.editor.dl {
    height: 6rem;
    margin-bottom: 0.5rem;
}

#resultsForm {
    margin: 0 0.5rem;
    flex-grow: 1;
}

#resultsForm h4 {
    display: inline-block;
}

#resultsForm tbody {
    display: block;
    height: 20rem;
    overflow: auto;
}

#resultsForm thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#resultsForm thead th {
    text-align: left;
}

#entityPane {
    height: 25rem;
}

#query-form {
    display: flex;
    flex-direction: column;
}

#query-form.sparql {
    height: 100%;
}

#query-form .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#query-submit {
    font-size: 2rem;
    margin: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

#query-submit:hover {
    background-color: rgba(207, 207, 207, 0.49);
    border-radius: 1rem;
}

.iri {
    color: #002;
    font-size: smaller;
    margin: 8px;
}

.iri a, .iri form, .iri h3 {
    display: inline;
}

.iri h3 {
    margin-left: 0;
    font-weight: normal;
}

.googlemaps {
    margin-left: auto;
    margin-right: auto;
    width: 425px;
    height: 350px;
    margin-bottom: 12px;
}

.icon {
    position: relative;
    top: 2px;
    width: 24px;
    height: 24px;
}

[data-theme="dark"] .icon {
    filter: invert(100%);
}

img.button {
    position: relative;
    top: 8px;
}

img.thumb {
    vertical-align: top;
    margin-left: 6px;
}

.disabled {
    background-color: #bbbbdd;
}

.warn {
    color: #ff0000;
}

/* Flex layout - see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.axiom-category {
    color: #1d3b91;
    font-size: smaller;
}

.axioms-form {
    margin-left: 0.3em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}

.axioms-form h2 {
    margin-bottom: 0;
}

.axioms-form input[type="text"] {
    font-size: 1.5em;
    width: 50%;
    padding-left: 10px;
}

.search-icon {
    border: none;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    background-size: contain;
    background-color: inherit;
    background-repeat: no-repeat;
    background-image: url("/images/search-svgrepo-com.svg");
    position: relative;
    left: -3em;
    cursor: pointer;
}

.paging {
    margin-left: 0.2em;
}

.paging-arrow {
    color: #aaa;
}

.paging-arrow a {
    font-weight: 300;
}

.paging-arrow a:hover {
    text-decoration: none;
}

.edit {
    margin: 0 5px;
    display: none;
}

.edit.active {
    display: block;
}

#edit {
    display: flex;
    flex-direction: row;
}

#edit-axiom {
    flex-grow: 2;
}

#edit-ontology {
    float: right;
}

.debug {
    background-color: rgba(120, 150, 255, 0.2);
}

.git-summary {
    margin-left: 5px;
}

.commit {
    display: flex;
}

.commit span {
    margin: 0 0.3em;
}

.commit-message {
    flex-grow: 10;
}

.commit-author, .commit-date {
    color: gray;
    white-space: nowrap;
}

.branch-name {
    font-weight: 300;
}

@media screen and (max-width: 800px) and (max-height: 450px) {

    #burger {
        display: none;
    }

    ul.minihierarchy {
        width: 70%;
    }
}

@media screen and (min-width: 800px) and (min-height: 450px) {
    html, body {
        height: 100vh;
    }

    #burger {
        display: none;
    }

    .wrapper {
        height: 100vh;
    }

    .minihierarchy li .node {
        font-size: inherit;
        margin-right: inherit;
    }
}

@media screen and (min-width: 800px) {

    .wrapper {
        flex-flow: column;
    }

    #burger {
        display: none;
    }

    #title {
        display: flex;
        align-items: center;
        margin: 0.25rem 0.5rem;
        flex: 0 1 auto;
        width: auto;
    }

    #main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow: hidden;
        width: auto;
    }

    #main.three-pane {
        flex-grow: 2;
        height: 72vh;
    }

    #menu {
        width: auto;
        overflow: initial;
    }

    #menu.hidden {
        height: auto; /* always visible even if "hidden" from burger */
    }

    #tabs {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
    }

    #footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 0 1 auto;
        width: auto;
    }

    .owlselector {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 24rem;
    }

    .owlselector .min {
        display: none;
    }

    ul.minihierarchy {
        flex: 1 1 auto;
        overflow: auto;
        height: auto;
    }

    #content {
        flex: 2;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .characteristics {
        flex: 0 1 auto;
        overflow: auto;
    }

    #search, .autosuggest li {
        line-height: 24px;
        font-size: 1.5rem;
    }

    .ontology-page {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 450px), (max-height: 450px) {

    body, input, select {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 800px) and (max-height: 450px) {

    ul.minihierarchy {
        height: 200px;
    }
}

