
.literal {
    color: green;
}

/* we want links in literals to look like links*/
.literal a {
    color: #008;
    text-decoration: underline;
}

.annotation-uri {
    color: gray;
}

.ontology-uri {
    color: gray;
}

.active-ontology-uri {
    color: #330033;
}

.active-entity {
    background: rgba(255, 255, 0, 0.4);
    border-radius: 2px;
    pointer-events: none;
}

.deprecated {
    color: #222222;
    text-decoration: line-through;
}

/* keywords - default cyan */
.keyword {
    color: #00B2B2;
    font-weight: 300;
}

.comment {
    color: green;
}

.some, .only, .value, .min, .max, .exactly {
    color: #B200B2;
    font-weight:300;
}

.Class{
    color: #000000;
}

.property {
    font-style: italic;
}

.Object.property{
    color: #004e4f;
}

.Data.property{
    color: #18327a;
}

.Annotation.property{
    color: #155700;
}

.Named.individual{
    font-style: italic;
}

/* dark theme */

[data-theme="dark"] .Object.property{
    color: #1bd7d8;
}

[data-theme="dark"] a.Object.property:hover{
    color: #01d2d2;
}

[data-theme="dark"] .active-entity {
    color: rgba(255, 255, 0, 0.8);
}

[data-theme="dark"] .Object.property.active-entity,
[data-theme="dark"] a.Data.property.active-entity {
    color: rgba(255, 255, 0, 0.8);
}

[data-theme="dark"] .Data.property{
    color: #4573e8;
}

[data-theme="dark"] a.Data.property:hover{
    color: #7caaef;
}

[data-theme="dark"] .Annotation.property{
    color: #4cd964;
}

[data-theme="dark"] .literal {
    color: #7ff38f;
}

[data-theme="dark"] .literal a {
    color: #417cff;
}

[data-theme="dark"] .some, .only, .value, .min, .max, .exactly {
    color: #fa2efa;
}

