
form.autocomplete {
    display: inline;
}

#queries {
    padding: 0;
}

#queries li {
    list-style-type: none;
}

/* TODO make scrollable work */
#resultsForm tbody {
    display: block;
    overflow-y: auto;
}

#resultsForm thead, #resultsForm tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#resultsForm thead th {
    text-align: left;
}

#resultsForm tbody td {
    word-wrap: anywhere;
}

#query-form {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

#query-form.sparql {
    height: 100%;
}

#query-form .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.editor {
    width: 95%;
    height: 16rem;
}

.editor.prefixes {
    height: 6rem;
    margin-bottom: 0.5rem;
}

.editor.dl {
    height: 6rem;
}

.results-table {
    table-layout: fixed;
    width: 100%;
}

.scrollable-tbody {
    max-height: 100%;
    overflow-y: auto;
}

.scrollable-tbody table {
    width: 100%;
    border-collapse: collapse;
}
