.stats-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.stats-holder canvas {
    height: 15rem;
    width: 15rem;
}

.stats-vertical {
    display: flex;
    flex-direction: column;
}