.stats-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 1rem;
}

.stats-holder canvas {
    height: 14rem;
    width: 14rem;
}

.stats-vertical {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.stats-horizontal {
    display: flex;
    justify-content: space-evenly;
}