<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace='base :: header (title=${title}, query=${false}, tree=${false})'></head>

<body class="wrapper">

<div th:replace='base :: title(search=${true})'></div>

<div th:replace='base :: menu'></div>

<div id="main">

    <div id="content">

        <h2 th:text="${title}">Title</h2>

        <div th:replace="base :: characteristic (${axioms})">
            A characteristic
        </div>

    </div>
</div>

<div th:replace='base :: footer'></div>

<script type="text/javascript">
    $(document).ready(function() {
        const search = new URLSearchParams(window.location.search).get('search');
        if (search) {
            document.getElementById('find').setAttribute("value", search);
        }
    });
</script>

</body>
</html>