<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<!--suppress HtmlUnknownTag, GrazieInspection, XmlDuplicatedId, CheckTagEmptyBody, HtmlExtraClosingTag -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment='header (title, query, tree)'>

    <title th:text='${projectInfo.name + ": " + title}'>Project Name: Page Name</title>

    <meta charset='UTF-8'/>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0'/>

    <link rel='icon' type='image/x-icon' href='../../static/images/favicon.ico'
          th:href='@{/static/images/favicon.ico}'/>
    <link rel='apple-touch-icon-precomposed' href='../../static/images/splat-152-211412.png'
          th:href='@{/static/images/splat-152-211412.png}'/>

    <link rel='stylesheet' type='text/css' href='../../static/css/autosuggest_inquisitor.css'
          th:href='@{/static/css/autosuggest_inquisitor.css}'/>
    <link rel='stylesheet' type='text/css' href='../../static/css/gaphu-0.0.9.css'
          th:href='@{/static/css/gaphu-0.0.9.css}'/>
    <link rel='stylesheet' type='text/css' href='../../static/css/default.css'
          th:href='@{/static/css/default.css}'/>

    <script type='text/javascript' th:inline='javascript'>
        const baseUrl = '/'; // TODO is this the right way to do this?
        const isQuery = [[${query}]];
        const isTree = [[${tree}]];
    </script>
    <script type='text/javascript' src='../../static/js/jquery-1.4.3.min.js'
            th:src='@{/static/js/jquery-1.4.3.min.js}'></script>

    <script type='module' src='../../static/js/app.js'
            th:src='@{/static/js/app.js}'>
    </script>

    <script type='text/javascript' src='../../static/js/bsn.AutoSuggest_2.1_multiword.js'
            th:src='@{/static/js/bsn.AutoSuggest_2.1_multiword.js}'></script>
    <script type='text/javascript' src='../../static/js/gaphu-0.0.9.js'
            th:src='@{/static/js/gaphu-0.0.9.js}'></script>

</head>

<body>

<div id='title' th:fragment="title (search)">
    <h1><img class='icon' src='../../static/images/splat-24-211412.png' th:src='@{/static/images/splat-24-211412.png}'/>
        <a th:href='@{/}' th:text="${projectInfo.name}">Project Name</a></h1>
    <a style='display: none;' href='#content'>skip to content</a>
    <div id="entityfinder" th:fragment="entityfinder">
        <form id='findForm' method='get'>
            <input id='find' class='autocomplete' type='text' name='search' placeholder='search...'/>
            <input th:if="${search}" class="search-icon" type='submit' value="" />
        </form>

        <script type='text/javascript'>
            var options = {
                script: baseUrl + 'entities/?',
                varname: 'name',
                cache: false,
                callback: function (obj) {
                    window.location = obj.id;
                }
            };
            var as = new AutoSuggest("find", options);
        </script>
    </div>
</div>

<div id='menu' th:fragment="menu">

    <div th:replace='base :: tabs'>Tabs</div>

</div> <!-- menu -->

<ul id='tabs' th:fragment='tabs'>
    <li><a th:href='@{/ontologies/}'>Ontologies</a></li>
    <li><a th:href='@{/classes/}'>Classes</a></li>
    <li>Individuals:
        <a th:href='@{/individuals/}'>by Type</a> /
        <a th:href='@{/relations/onproperty/}'>by Relation</a> /
        <a th:href='@{/relations/onannotationproperty/}'>by Annotation</a></li>
    <li>Properties: <a th:href='@{/objectproperties/}'>Object</a> /
        <a th:href='@{/dataproperties/}'>Data</a> /
        <a th:href='@{/annotationproperties/}'>Annotation</a></li>
    <li><a th:href='@{/datatypes/}'>Datatypes</a></li>
    <li><a th:href='@{/axioms/}'>Axioms</a></li>
    <li><a th:href='@{/dlquery/}'>DL Query</a></li>

    <li>Usage:
        <a th:href='@{/clouds/classes}'>cl</a> /
        <a th:href='@{/clouds/individuals}'>in</a> /
        <a th:href='@{/clouds/objectproperties}'>op</a> /
        <a th:href='@{/clouds/dataproperties}'>dp</a> /
        <a th:href='@{/clouds/annotationproperties}'>ap</a> /
        <a th:href='@{/clouds/datatypes}'>dt</a>
    </li>
</ul> <!-- tabs -->


<div id='content' th:replace='${doclet}.jsp'>Doclet content</div>

<div class="results" th:fragment="results" th:replace="::characteristic (${results})">
</div>

<!-- paging -->
<span th:fragment="paged (data)" th:switch="${(data.start == 1) and (data.pageSize == data.total)}">
    <span th:case="${true}" th:text='${"(" + data.total + ")"}'>(2)</span>
    <span th:case="${false}"
          th:with="urlBuilder=${(urlBuilder != null) ? urlBuilder : T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">

        <span th:switch="${data.start gt 1}">
            <a th:case="${true}"
               th:with="start=${data.start-data.pageSize gt 1 ? data.start-data.pageSize : 1}"
               th:href='${urlBuilder.replaceQueryParam("start", start).replaceQueryParam("pageSize", data.pageSize).toUriString()}'>&lt; prev</a>
            <span th:case="${false}">&lt; prev</span>
        </span>

        <span th:text='${"(" + data.start + "-" + (data.start+data.pageSize-1) + " of " + data.total + ")"}'>(1-20 of 100)</span>

        <span th:with="start=${data.start + data.pageSize}" th:switch="${start lt data.total}">
            <a th:case="${true}"
               th:href='${urlBuilder.replaceQueryParam("start", start).replaceQueryParam("pageSize", data.pageSize).toUriString()}'>next &gt;</a>
            <span th:case="${false}">next &gt;</span>
        </span>
    </span>
</span>


<div th:class='${"characteristic " + ch.name.replaceAll(" ", "_").toLowerCase()}' th:fragment="characteristic (ch)">

    <h4 th:text='${ch.name}'>Some Characteristic</h4>
    <span th:replace="base::paged (${ch.getPageData()})">(2)</span>
    <ul th:remove="all-but-first">
        <li class="asserted" th:each="object : ${ch.objects}">
            <span class="owlobject" th:utext="${mos.render(object.getOWLObject())}">
            <a href="../../classes/1934778517/" class='Class'
               title="http://www.co-ode.org/ontologies/pizza/pizza.owl#ThinAndCrispyPizza">ThinAndCrispyPizza</a>
            <span class='keyword'>&equiv;</span>
            <a href="../../classes/140023861/" class='Class'
               title="http://www.co-ode.org/ontologies/pizza/pizza.owl#Pizza">Pizza</a>
            <span class='keyword'>and</span>
            <span class='active-entity Object Property'>hasBase</span>
            <span class='only'>only</span>
            <a href="../../classes/677040734/" class='Class'
               title="http://www.co-ode.org/ontologies/pizza/pizza.owl#ThinAndCrispyBase">BaseFinaEQuebradica</a>
            </span>
            <span class="source-ont" th:utext="${mos.render(object.getOWLOntology())}">pizza.owl</span>
            <ul th:if="${object.getOWLAxiom() != null and !object.getOWLAxiom().getAnnotations().isEmpty()}"
                th:remove="all-but-first" class="axiom-annotations">
                <li class="axiom-annotation" th:each="annot : ${object.getOWLAxiom().getAnnotations()}">
                    <span th:utext="${mos.render(annot)}"></span>
                </li>
                <li><span>seeAlso: "<a href="https://github.com/nickdrummond/star-wars-ontology">
                    https://github.com/nickdrummond/star-wars-ontology
                </a>"(anyURI)</span></li>
            </ul>
        </li>
        <li class="asserted">
            <span class="keyword">Functional</span>
            (
            <span class="active-entity Object Property">hasBase</span>
            )
        </li>
        <li class="asserted">
            <span class="keyword">InverseFunctional</span>
            (
            <span class="active-entity Object Property">hasBase</span>
            )
        </li>
    </ul>
</div>

<div id="metrics" th:fragment="metrics (metrics)" th:if="${metrics != null}">
    <h4>Metrics</h4>
    <table>
        <thead>
        <tr>
            <td></td>
            <td></td>
            <td th:if="${showImportMetrics}">with imports</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="metric : ${metrics}">
            <td class="metric" th:utext="${metric.getName()}"></td>
            <td class="mvalue" th:utext="${metric.getValue()}"></td>
            <th:block th:utext="${metric.setImportsClosureUsed(true)}" th:if="${showImportMetrics}"/>
            <td class="mvalueimp" th:utext='${metric.getValue()}' th:if="${showImportMetrics}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="googlemaps" th:fragment="map (geo)" th:if="${geo != null}">
    <iframe width="425" height="350" frameborder="0" scrolling="no"
            src="http://maps.google.com/maps"
            th:src="'http://maps.google.com/maps?q=' + ${geo.latitude} + ',' + ${geo.longitude} + '&amp;ie=UTF8&amp;z=14&amp;output=embed'">
    </iframe>
</div>

<div class="imageHolder" th:fragment="image (url)" th:if="${image != null}">
    <img src="/notfound.jpg" th:src="${url}"/>
</div>

<EMBED th:fragment="sound (url)"
       th:if="${sound != null}"
       th:src="${url}" src="/notfound.mp3"
       autostart="true" style="display:none"></EMBED>

<li th:fragment="tree (t)" th:if="${t != null}">
    <span th:if='${t.childCount != 0}' class="node expandable">+</span>
    <span th:if='${t.childCount == 0}' class="node">-</span>
    <span th:each="synonym,iteratorStatus : ${t.value}" th:remove="tag">
        <span th:if="${iteratorStatus.index != 0}" class="keyword">&equiv;</span>
        <span th:utext="${mos.render(synonym)}" th:remove="tag">a thing</span>
    </span>

    <span class='child-count' th:if="${t.childCount != 0}" th:utext='${"(" + t.childCount + ")"}'>(0)</span>

    <ul th:if="${!t.children.isEmpty()}">
        <div class="removeme" th:each="child : ${t.children}" th:remove="tag">
            <li th:replace="base::tree(${child})"></li>
        </div>
    </ul>
</li>

<div class='owlselector' th:fragment="hierarchy (title, hierarchy)" th:if="${hierarchy != null}">
    <h4 th:text="${title}">Title</h4>
    <ul class="minihierarchy" th:classappend="${title}">
        <li th:replace="base::tree(${hierarchy})">Top Thing</li>
    </ul>
</div>

<div class='owlselector' th:fragment="secondaryhierarchy (title, hierarchy, inverse)" th:if="${hierarchy != null}">
    <h4>
        <span th:if="${inverse}" class="keyword">InverseOf</span>
        <a th:href="'.?inverse=' + ${!inverse}" th:text="${title}">Title</a>
    </h4>
    <ul class="minihierarchy" th:classappend="${title}" th:if="${!hierarchy.children.isEmpty()}">
        <div class="removeme" th:each="child : ${hierarchy.children}" th:remove="tag">
            <li th:replace="base::tree(${child})"></li>
        </div>
    </ul>
</div>

<div class='owlselector' th:fragment="list (title, entities)" th:if="${entities != null}">
    <h4 th:text="${title}">Title</h4>
    <ul class="minihierarchy" th:classappend="${type}">
        <li th:each="entity : ${entities}" th:utext="${mos.render(entity)}">
            a thing
        </li>
    </ul>
</div>


<div id='content' th:fragment="owlentity">
    <h2 th:text="${title}">An OWLClass</h2>
    <div class="iri">
        <h3 th:utext="${mos.renderFullIRI(iri)}">http://example.com/entity-url</h3>
    </div>

    <div th:replace="base :: image (${image})">
        Possibly an image
    </div>

    <div th:replace="base :: sound (${sound})">
        Possibly a sound
    </div>

    <div th:replace="base :: map (${geo})">
        Possibly a map
    </div>

    <div class="characteristics">
        <div th:each="ch : ${characteristics}" th:remove="tag">
            <div th:replace="base :: characteristic (${ch})">
                A characteristic
            </div>
        </div>

        <div th:replace="base :: metrics (${metrics})">
            Possibly some metrics
        </div>
    </div>

</div>


<p class='footer' th:fragment='footer'>
    <a href="#" id="aurebesh" class="aurebesh">aurebesh</a>
    <a th:href="${projectInfo.url}" th:text="${projectInfo.tagline}">Project Link</a>
    <a href='https://github.com/nickdrummond/ontology-browser/'>rendered with Ontology Browser</a>
    <a th:href='${"mailto:" + projectInfo.contact}'>Contact</a>
</p>

</body>
</html>
