<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace='base :: header (title=${title}, query=${false}, tree=${false}, rewriteLinks=${false})'></head>

<body class="wrapper">

<div th:replace='base :: title'></div>

<div th:replace='base :: menu'></div>

<div id="main">

    <div id="content">

        <h2 th:text="${title}">Title</h2>

        <div th:fragment="cloud" class="cloud">
            <span class="entity" th:each="entity : ${helper.getOrderedEntities()}"
               th:utext="${mos.render(entity)}"
               th:styleappend="'font-size:' + ${helper.getFontSize(entity)} + 'pt; color:' + ${helper.getColor(entity)}">Entity</span>
        </div>

    </div>
</div>

<div th:replace='base :: footer'></div>

</body>
</html>