<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- TODO use insert - see https://www.thymeleaf.org/doc/articles/layouts.html -->
<head th:replace='~{base :: header (title=${"DL query: " + expression}, query=${true}, tree=${false}, rewriteLinks=${true})}'></head>

<body class="wrapper">

<div th:replace='~{base :: title}'></div>

<div th:replace='~{base :: menu}'></div>

<div id="main">

    <div id="queryPane" class='codebox'>

        <h3 th:utext='${"Querying: " + mos.render(reasoningOntology) + " using " + reasonerName}'>Reasoning ontology and reasoner</h3>

        <form class='autocomplete' method='get' id='dlQueryForm' action=''>
            <div class="dlQueryWrapper">
                <textarea name='expression' placeholder="Query - eg participant value R2-D2" class='dlQuery' id='dlQuery' th:text='${expression}'>Pizza</textarea>
                <textarea name='minus' placeholder="Subtract from above - eg participant value C-3PO" class='dlQuery' id='dlQuery2' th:text='${minus}'>hasTopping some CheeseTopping</textarea>
            </div>
            <input name='syntax' id='dlQuerySyntax' type='hidden' value='man' />
            <input name='order' id='order' type='hidden' th:value='${order}' />

            <div id="dlQueryOptions">
                <ul id="queries">
                    <li th:each="q : ${queries}">
                        <input type='radio' name='query'
                               th.id='${"q-" + q}'
                               th:value='${q}'
                               th:checked="${q == query}"/>
                        <label th:for='${"q-" + q}'
                               th:text='${q}'></label>
                    </li>
                </ul>
                <input id="dlQuerySubmit" type='submit' value='query' />
            </div>
        </form>

        <script type="text/javascript">
            var options = {
              parser : baseUrl + 'dlquery/parse',
              autocomplete: baseUrl + 'dlquery/ac'
            };
            new ExpressionEditor("dlQuery", options);
            new ExpressionEditor("dlQuery2", options);
        </script>

        <div id='resultsForm'>
            <!-- results will go here -->
            <p>Provide a class description in Manchester OWL Syntax on the left.</p>
            <p>Autocomplete with <em>Ctrl-Space</em></p>
        </div>

    </div>

    <div id="content">


    </div>
</div>

<div th:replace='~{base :: footer}'></div>

</body>
</html>