<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace='base :: header (title=${"DL query: " + expression})'></head>

<body class="wrapper">

<div th:replace='base :: title'></div>

<div th:replace='base :: menu'></div>

<div id="main">

    <div id="queryPane" class='codebox'>

        <form class='autocomplete' method='get' id='dlQueryForm' action=''>
            <textarea name='expression' id='dlQuery' th:text='${expression}'>hasTopping some PizzaTopping</textarea>
            <input name='syntax' id='dlQuerySyntax' type='hidden' value='man' />
            <input id="dlQuerySubmit" type='submit' value='query' />

            <h4 th:text='${"using " + reasonerName}'>Reasoner name</h4>
        </form>

        <script type="text/javascript">
            var options = {
              parser : baseUrl + 'dlquery/parse',
              autocomplete: baseUrl + 'dlquery/ac'
            };
            new ExpressionEditor("dlQuery", options);
        </script>

    </div>

    <div id="content">

        <h2 th:utext='${"Querying: " + mos.render(reasoningOntology)}'>Reasoning ontology</h2>

        <div id='resultsForm'>
            <!-- results will go here -->
            <p>Provide a class description in Manchester OWL Syntax on the left.</p>
            <p>Autocomplete with <em>Ctrl-Space</em></p>
        </div>
    </div>
</div>

<div th:replace='base :: footer'></div>

</body>
</html>