<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<!--suppress HtmlUnknownTag, GrazieInspection, XmlDuplicatedId, CheckTagEmptyBody, HtmlExtraClosingTag -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<ul class="timeline"
     th:fragment="timeline(t)"
     th:classappend='${(t.diverge ? "diverge" : "") + (t.converge ? " converge" : "")}' >
    <th:block th:each="conn : ${t.events}">
        <li th:replace="events::prop(${conn.prop})"></li>
        <li th:replace="events::node(${conn.node})">Node</li>
    </th:block>
    <li th:replace="events::prop(${t.endProp})"></li>
</ul>

<li class="prop" th:fragment="prop(p)" th:classappend="${p.type + ' ' + p.meta}"></li>

<th:block th:fragment="node(n)"
          th:switch="${n.getClass().getSimpleName()}">

    <li th:case="TEvent" class="event dot"
        th:with="filterCls=${filter != null ? filter.apply(n.label) : ''}"
        th:classappend="${n.meta + filterCls}"
        th:data="${n.label.getIRI().toString()}">
        <span class="event-year" th:utext="${getYear.apply(n.label)}">Year</span>
        <span class="event-label" th:utext="${ren.render(n.label)}">Event</span>
    </li>

    <li th:case="TParent" class="event parent"
        th:with="filterCls=${filter != null ? filter.apply(n.label) : ''}"
        th:classappend="${filterCls}">
        <span class="event-label" th:utext="${ren.render(n.label)}">Event</span>
        <ul th:replace="events::timeline(${n.children})"></ul>
    </li>

    <li th:case="TParallel" class="parallel" >
        <th:block th:each="timeline : ${n.timelines}">
            <ul th:replace="events::timeline(${timeline})">Timeline</ul>
        </th:block>
    </li>

</th:block>

</html>