<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text='${projectInfo.name + ": " + title}'>Project Name: Page Name</title>

    <meta charset='UTF-8'/>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0'/>

    <link rel='icon' type='image/x-icon' href='../../static/images/favicon.ico'
          th:href='@{/static/images/favicon.ico}'/>
    <link rel='apple-touch-icon-precomposed' href='../../static/images/splat-152-211412.png'
          th:href='@{/static/images/splat-152-211412.png}'/>

    <link rel='stylesheet' type='text/css' href='../../static/css/default.css' th:href='@{/static/css/default.css}'/>
    <link rel='stylesheet' type='text/css' href="../../static/css/graph.css" th:href='@{/static/css/graph.css}'/>

    <script src="../../static/js/leader-line.min.js"
            th:src='@{/static/js/leader-line.min.js}'></script>

    <script type='text/javascript' th:inline='javascript'>
        const baseUrl = '/';
        const isQuery = false;
        const isTree = false;
        const rewriteLinks = false;
    </script>
    <script type='text/javascript' src='../../static/js/jquery-1.4.3.min.js'
            th:src='@{/static/js/jquery-1.4.3.min.js}'></script>

    <script type='module' src='../../static/js/app.js'
            th:src='@{/static/js/app.js}'>
    </script>

    <script type='text/javascript' src='../../static/js/graph.js' th:src='@{/static/js/graph.js}'></script>
</head>

<body class="wrapper">

<div th:replace='~{base :: title}'></div>

<div th:replace='~{base :: menu}'></div>

<div>

        <h2 th:text="${title}">Title</h2>

        <div class="graph">
            <div th:replace='~{base :: node(${subject}, true, true, true, true)}'></div>
        </div>

</div>

<div th:replace='~{base :: footer}'></div>

</body>
</html>