<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block  th:insert='~{base :: header (title=${title}, query=${false}, tree=${false}, rewriteLinks=${false})}'/>

    <link rel='stylesheet' type='text/css' href="../../static/css/graph.css" th:href='@{/static/css/graph.css}'/>
    <script src="../../static/js/leader-line.min.js"
            th:src='@{/static/js/leader-line.min.js}'></script>
    <script type='text/javascript' src='../../static/js/graph.js' th:src='@{/static/js/graph.js}'></script>

</head>

<body class="wrapper">

<div th:replace='~{base :: title}'></div>

<div th:replace='~{base :: menu}'></div>

<div id="main">
    <div class="graph-scroll">
        <div class="graph">
            <div th:replace='~{graphfragment :: startnode}'></div>
        </div>
    </div>
</div>

<div th:replace='~{base :: footer}'></div>

</body>
</html>