<div th:fragment="startnode"
     th:replace="~{graphfragment :: node(${subject}, true, true, true, true)}"></div>

<div th:fragment="node (current, leftEnabled, rightEnabled, topEnabled, bottomEnabled)"
     class="g-th" >

    <ul class="zone tl"></ul>
    <ul th:replace="~{graphfragment :: zone(${current}, 'top', ${zones.top()})}"></ul>
    <ul class="zone tr"></ul>

    <ul th:replace="~{graphfragment :: zone(${current}, 'left', ${zones.left})}"></ul>

    <div class="zone center">
    <span class="g-node g-target"
              th:utext="${mos.render(proxies.getProxyOrOriginal(current))}"
              th:data="${current.getIRI()}"></span>
    </div>

    <ul th:replace="~{graphfragment :: zone(${current}, 'right', ${zones.right})}"></ul>

    <ul class="zone bl"></ul>
    <ul th:replace="~{graphfragment :: zone(${current}, 'bottom', ${zones.bottom})}"></ul>
    <ul class="zone br"></ul>

</div>

<ul th:fragment="zone (current, location, locgraph)"
    th:class="zone"
    th:classAppend="${location}">
    <th:block th:each="edge : ${locgraph.getEdgesWithSubject(current)}">
        <li class="g-edge">
            <span class="g-predicate"
                  th:utext="${mos.render(edge.predicate())}"
                  th:data="${sfp.getShortForm(edge.predicate())}"></span>
            <div th:replace="~{graphfragment :: node(${edge.object()}, true, true, true, true)}"></div>
        </li>
    </th:block>
    <th:block th:if="${current == subject}"
              th:each="edge : ${locgraph.getEdgesWithObject(current)}">
        <li class="g-edge">
            <span class="g-node g-subject"
                  th:utext="${mos.render(proxies.getProxyOrOriginal(edge.subject()))}"
                  th:data="${edge.subject().getIRI()}"></span>
            <span class="g-predicate"
                  th:utext="${mos.render(edge.predicate())}"
                  th:data="${sfp.getShortForm(edge.predicate())}"></span>
        </li>
    </th:block>
</ul>