<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include='base :: header (title=${"Welcome"})'></head>

<body class="wrapper">

<div th:replace='base :: title'></div>

<div th:replace='base :: menu'></div>

<div><p style="font-size: 1.5em; margin: 20px auto 20px auto; text-align: center;">Welcome to the <em th:text="${projectInfo.name}">Ontology name</em>
    created in <a th:href="${projectInfo.url}" th:text="${projectInfo.tagline}"></a>.
    Select a popular individual below or search the ontology yourself above.</p>
</div>

<div id='main'>

    <div th:replace='cloud :: cloud'></div>

</div>

<div th:replace='base :: footer'></div>

</body>
</html>