<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include='base :: header (title=${"Load Ontology"})'></head>

<body>

<div th:replace='base :: title'/>

<div id='load_ontologies'>

    <h2>Load Ontology</h2>

    <div class='codebox'>

        <form id='load' method='POST' th:action='@{/ontologies}'>
            <label for='uri-spec'><h3 style='margin-bottom: 0;'>Specify the physical location of your ontology:</h3></label><br />
            <input id='uri-spec' name='uri' type='text' style='width:80%; margin-top: 0;' />
            <input name='action' type='submit' value='load' />
        </form>

        <form id='bookmarks' method='POST' th:action='@{/ontologies}'>
            <label for='uri-bookmark'><h3 style='margin-bottom: 0;'>or Select a bookmark from below:</h3></label><br />
            <select id='uri-bookmark' name='uri' style='width:80%; margin-top: 0;'>
                <option th:each='bookmark : ${bookmarks}'
                        th:value='${bookmark.value}'
                        th:text='${bookmark.key + " (" + bookmark.value + ")"}'>A bookmark example</option>
            </select>
            <input name='action' type='submit' value='load' />
        </form>


        <!--form method='post' enctype='multipart/form-data' action='.'>
          <p class='instructions'>Upload an ontology:</p>
          <p><label title='Choose a Local File to Upload and Validate' for='uploaded_file'>File:</label>
            <input type='file' id='uploaded_file' name='uploaded_file' size='30' /></p>
            <input name='action' type='submit' value='load' />
        </form-->

        <div class='clearfix'></div>
    </div>

</div><!-- load ontologies -->

<div th:replace='base :: footer'></div>

</body>
</html>