<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace='base :: header (title=${"Options"})'></head>

<body>

<div th:replace='base :: menu'/>

<div id="main">

    <div th:replace='base :: title'/>

    <div id='content'>

        <h2>Options</h2>

        <div id='look_and_feel' class="optiongroup">

            <h4>Look and Feel</h4>

            <table>

                <tr>
                    <td class='key'>Label annotation</td>
                    <td>
                        <form method='POST' action='.'>
                            <input type='hidden' name='property' value='optionLabelAnnotationUri' />
                            <input type='text' name='value' th:value='${options.optionLabelUri}' />
                            <input type='submit' value='ok' /></form>
                    </td>
                </tr>

                <tr>
                    <td class='key'>Label language</td>
                    <td>
                        <form method='POST' action='.'>
                            <input type='hidden' name='property' value='optionLabelLang' />
                            <input type='text' name='value' th:value='${options.optionLabelLang}' />
                            <input type='submit' value='ok' />
                        </form>
                    </td>
                </tr>

                <tr>
                    <td class='key'>Label property</td>
                    <td>
                        <form method='POST' action='.'>
                            <input type='hidden' name='property' value='optionLabelPropertyUri' />
                            <input type='text' name='value' th:value='${options.optionLabelPropertyUri}' />
                            <input type='submit' value='ok' /></form>
                    </td>
                </tr>

            </table>
        </div><!-- look and feel -->

        <div id='model' class="optiongroup">

            <h4>Reasoner</h4>

            <table>

                <tr>
                    <td class='key'>Reasoner</td>
                    <td>
                        <form>
                            <input type='hidden' name='property' value='optionReasoner' />
                            <select class="option" name="value">
                                <option th:each='reasoner : ${reasoners}'
                                        th:value='${reasoner}'
                                        th:selected='${reasoner == options.optionReasoner}'
                                        th:text='${reasoner}'>A reasoner</option>
                            </select>
                        </form>
                    </td>
                </tr>

            </table>
        </div><!-- model -->

    </div><!-- content -->

    <div th:replace='base :: footer'></div>

</div>
</body>
</html>