<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace='base :: header (title=${title})'></head>

<body class="wrapper">

<div th:replace='base :: title'></div>

<div th:replace='base :: menu'></div>

<div th:replace='base :: entityfinder'></div>

<div id="main">

    <div id='hierarchy'  th:replace="base :: hierarchy(${type}, ${hierarchy})">
        A hierarchy
    </div>

    <div id='content'>
        <span><h2 th:text="${title}">An OWLClass</h2>
        <a th:href="@{/(label=${kit.getCurrentLabel()}, redirect=@{__${#httpServletRequest.requestURI}__})}"
           href='./' class='permalink'>permalink</a></span>
        <div class="iri">
            <a th:href="${iri}" href='http://example.com/entity-url' >
                <img th:src="@{/static/images/external.png}"
                     src="../../static/images/external.png"
                     title="Attempt to open link in another window" />
            </a>
            <form method='POST' action='./' th:action="@{/ontologies}">
                <input name='uri' type='hidden'
                       value='http://example.com/entity-url'
                       th:value="${iri}"/>
                <input name='redirect' type='hidden'
                       value='.'
                       th:value="@{__${#httpServletRequest.requestURI}__}"/>
                <input type='image' alt='Attempt to load owl/rdf'
                       src='../../static/images/download.png'
                       th:src="@{/static/images/download.png}"/>
            </form>
            <h3 th:utext="${iri}">http://example.com/entity-url</h3>
        </div>

        <div th:replace="base :: image (${image})">
            Possibly an image
        </div>

        <div th:replace="base :: sound (${sound})">
            Possibly a sound
        </div>

        <div th:replace="base :: map (${geo})">
            Possibly a map
        </div>

        <div class="characteristics">
            <div th:each="ch : ${characteristics}" th:remove="tag">
                <div th:replace="base :: characteristic (${ch})">
                    A characteristic
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace='base :: footer'></div>

</body>
</html>