<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace='base :: header (title=${"Clear"})'></head>

<body>

<div th:replace='base :: title'></div>

<div th:replace='base :: menu'></div>

<div id='main'>

    <div id="content">
        <h2>Clear?</h2>

        <p>This will clear all ontologies you are browsing.</p>

        <p>All permalinks you have bookmarked or sent to friends will continue to work.</p>

        <p>Are you sure you wish to quit?</p>

        <p><a href='signout-confirmed'>Yes</a></p>
    </div>

</div><!-- main -->

<div th:replace='base :: footer'></div>

</body>
</html>