<!DOCTYPE html>
<html>

<head th:replace='base :: header'></head>

<body>

<div th:replace='base :: title'/>
<div th:replace='base :: menu'/>
<div th:replace='base :: tabs'/>

<h4>Sign Out?</h4>

<div class='error'>

    <p>This will clear all ontologies you are browsing.</p>

    <p>All permalinks you have bookmarked or sent to friends will continue to work.</p>

    <p>Are you sure you wish to quit?</p>

    <p><a href='signout-confirmed'>Yes</a></p>

</div><!-- error -->

<div th:replace='base :: footer'></div>

</body>
</html>