<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text='${projectInfo.name + ": " + title}'>Project Name: Page Name</title>

    <meta charset='UTF-8'/>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0'/>

    <link rel='icon' type='image/x-icon' href='../../static/images/favicon.ico'
          th:href='@{/static/images/favicon.ico}'/>
    <link rel='apple-touch-icon-precomposed' href='../../static/images/splat-152-211412.png'
          th:href='@{/static/images/splat-152-211412.png}'/>

    <link rel='stylesheet' type='text/css' href='../../static/css/default.css' th:href='@{/static/css/default.css}'/>
    <link rel='stylesheet' type='text/css' href="../../static/css/events.css" th:href='@{/static/css/events.css}'/>

    <script src="../../static/js/leader-line.min.js"
            th:src='@{/static/js/leader-line.min.js}'></script>

    <script type='text/javascript' th:inline='javascript'>
        const baseUrl = '/';
        const isQuery = false;
        const isTree = false;
        const rewriteLinks = false;
    </script>
    <script type='text/javascript' src='../../static/js/jquery-1.4.3.min.js'
            th:src='@{/static/js/jquery-1.4.3.min.js}'></script>

    <script type='module' src='../../static/js/app.js'
            th:src='@{/static/js/app.js}'>
    </script>

    <script type='text/javascript' src='../../static/js/timeline.js' th:src='@{/static/js/timeline.js}'></script>
</head>

<body class="wrapper">

<div th:replace='base :: title'></div>

<div th:replace='base :: menu'></div>

<div id="main">

    <div id="content">

        <h2 th:text="${title}">Title</h2>

        <div style="background-color: blue" id="start">start</div>

        <ul>
            <li>http://localhost:8080/timeline/starwars?event=Escape_from_Daiyu
                <ul>
                    <li>This works fine when it is all contained in a parent event - http://localhost:8080/timeline/starwars</li>
                    <li>Should be a mini parallel after escape from Daiyu until Arrival_of_Vader</li>
                    <li>And again, the rescue of Leia</li>
                </ul>
            </li>
            <li>Should parallels come directly out of previous node? rather than on property?</li>
            <li>why is Freeing_of_Jyn a root? It is sometimeafter Capture_of_Galen - same as Great_Purge, Search_for_Ezra, Train_vs_Sandpeople
                *      - why is Train_vs_Sandpeople a root? ah, its in new republic era - but sometime after events in galactic civil war - should render faint
                </li>
                <li>Debriefing_on_the_siege shows up in Battle_of_Coruscant and Siege_of_Mandalore - is this ok? Probably but how "link"</li>
            <li>Destroying_Armoury_Complex_Air_Defences - problems</li>
            <li>Return of Luke gets a bit complicated</li>
            <li>Torture_of_Shmi twice</li>
            <li>Some roots (Old Jho) should be converging on bigger timelines</li>
            <li>show orphan events</li>
            <li>year (layout algorithm needed)</li>
            <li>participants</li>
            <li>Fix Meeting_Hondo_and_Dooku - twice in same timeline</li>
        </ul>

        <div class="events">
            <ul th:replace="events::timeline(${root})"></ul>
        </div>
    </div>
</div>
<div th:replace='base :: footer'></div>

</body>
</html>
