<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text='${projectInfo.name + ": " + title}'>Project Name: Page Name</title>

    <meta charset='UTF-8'/>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0'/>

    <link rel='icon' type='image/x-icon' href='../../static/images/favicon.ico'
          th:href='@{/static/images/favicon.ico}'/>
    <link rel='apple-touch-icon-precomposed' href='../../static/images/splat-152-211412.png'
          th:href='@{/static/images/splat-152-211412.png}'/>

    <link rel='stylesheet' type='text/css' href='../../static/css/default.css' th:href='@{/static/css/default.css}'/>
    <link rel='stylesheet' type='text/css' href="../../static/css/events.css" th:href='@{/static/css/events.css}'/>

    <script type='text/javascript' src='../../static/js/timeline.js' th:src='@{/static/js/timeline.js}'></script>

</head>

<body class="wrapper">

<div id="main">

    <div id="content">

        <h2>Timeline layout tests</h2>

        <div class="events">

            <h2>Child</h2>

            <ul class="timeline">
                <li class="prop dashed"></li>
                <li class="event dot">
                    <span class="event-label">Child</span>
                </li>
                <li class="prop"></li>
            </ul>

            <br/><br/><br/>

            <h2>Parent &amp; Child</h2>

            <div class="timeline">
                <div class="prop"></div>
                <div class="event parent">
                    <span class="event-label">Parent</span>
                    <div class="timeline">
                        <div class="prop"></div>
                        <div class="event dot">
                            <span class="event-label">Child</span>
                        </div>
                        <div class="prop"></div>
                    </div>
                </div>
                <div class="prop"></div>
            </div>

            <br/><br/><br/>

            <h2>Linear</h2>

            <div class="timeline">
                <div class="prop"></div>
                <div class="event parent">
                    <span class="event-label">Parent with a much longer label</span>
                    <div class="timeline">
                        <div class="prop"></div>
                        <div class="event dot">
                            <span class="event-label">Child 1</span>
                        </div>
                        <div class="prop"></div>
                        <div class="event dot">
                            <span class="event-label">Child with some very long text</span>
                        </div>
                        <div class="prop"></div>
                        <div class="event dot">
                            <span class="event-label">Child 3</span>
                        </div>
                        <div class="prop"></div>
                    </div>
                </div>
                <div class="prop"></div>
            </div>

            <br/><br/><br/>

            <h2>SometimeAfter (Dashed) </h2>

            <div class="timeline">
                <div class="prop dashed"></div>
                <div class="event parent">
                    <span class="event-label">Parent</span>
                    <div class="timeline">
                        <div class="prop"></div>
                        <div class="event dot">
                            <span class="event-label">Child 1</span>
                        </div>
                        <div class="prop"></div>
                        <div class="event dot">
                            <span class="event-label">Child 2</span>
                        </div>
                        <div class="prop"></div>
                        <div class="event dot">
                            <span class="event-label">Child 3</span>
                        </div>
                        <div class="prop"></div>
                    </div>
                </div>
                <div class="prop"></div>
            </div>

            <br/><br/><br/>

            <h2>Nested</h2>

            <div class="timeline">
                <div class="prop"></div>
                <div class="event parent">
                    <span class="event-label">Parent</span>
                    <div class="timeline">
                        <div class="prop"></div>
                        <div class="event dot">
                            <span class="event-label">Child 1</span>
                        </div>
                        <div class="prop"></div>

                        <div class="event parent">
                            <span class="event-label">Child 2</span>

                            <div class="timeline">
                                <div class="prop"></div>
                                <div class="event dot">
                                    <span class="event-label">Child 2.1</span>
                                </div>
                                <div class="prop"></div>
                                <div class="event dot">
                                    <span class="event-label">Child 2.2</span>
                                </div>
                                <div class="prop"></div>
                                <div class="event parent">
                                    <span class="event-label">Child 2.3</span>
                                    <div class="timeline">
                                        <div class="prop"></div>
                                        <div class="event dot">
                                            <span class="event-label">Child 2.3.1</span>
                                        </div>
                                        <div class="prop"></div>
                                        <div class="event dot">
                                            <span class="event-label">Child 2.3.2</span>
                                        </div>
                                        <div class="prop"></div>
                                        <div class="event dot">
                                            <span class="event-label">Child 2.3.3</span>
                                        </div>
                                        <div class="prop"></div>
                                    </div>
                                </div>
                                <div class="prop"></div>
                            </div>

                        </div>
                        <div class="prop"></div>
                        <div class="event dot">
                            <span class="event-label">Child 3</span>
                        </div>
                        <div class="prop"></div>
                    </div>
                </div>
                <div class="prop"></div>
            </div>

            <br/><br/><br/>


            <h2>Diverge</h2>

            <div class="timeline">
                <div class="prop"></div>
                <div class="event parent">
                    <span class="event-label">Parent</span>

                    <div class="timeline">
                        <div class="prop"></div>
                        <div class="event dot">
                            <span class="event-label">Child 1</span>
                        </div>
                        <div class="prop"></div>

                            <div class="parallel">

                            <div class="timeline diverge">
                                <div class="prop"></div>
                                <div class="event dot">
                                    <span class="event-label">Child 2</span>
                                </div>
                                <div class="prop"></div>
                            </div>

                            <div class="timeline diverge">
                                <div class="prop"></div>
                                <div class="event dot">
                                    <span class="event-label">Path 1.1</span>
                                </div>
                                <div class="prop"></div>
                                <div class="event dot">
                                    <span class="event-label">Path 1.1</span>
                                </div>
                                <div class="prop dashed"></div>
                            </div>

                            <div class="timeline diverge">
                                <div class="prop "></div>
                                <div class="event dot">
                                    <span class="event-label">P 2.1</span>
                                </div>
                                <div class="prop"></div>

                                <div class="event parent">
                                    <span class="event-label">P 2.2</span>
                                    <div class="timeline">
                                        <div class="prop"></div>
                                        <div class="event dot">
                                            <span class="event-label">P 2.2.1</span>
                                        </div>
                                        <div class="prop"></div>
                                        <div class="event dot">
                                            <span class="event-label">P 2.2.1</span>
                                        </div>
                                        <div class="prop"></div>
                                    </div>
                                </div>
                                <div class="prop dashed"></div>
                            </div>
                        </div>
                        <div class="prop"></div>

                        <div class="event dot">
                            <span class="event-label">Child 3</span>
                        </div>
                        <div class="prop"></div>
                    </div>
                </div>
                <div class="prop"></div>
            </div>

            <br/><br/><br/>


            <h2>Converge</h2>

            <div class="timeline">
                <div class="prop"></div>
                <div class="event parent">
                    <span class="event-label">Parent</span>
                    <div class="timeline">
                        <div class="prop"></div>
                        <div class="event dot">
                            <span class="event-label">Child 1</span>
                        </div>
                        <div class="prop"></div>

                        <div class="parallel">

                            <div class="timeline">
                                <div class="prop"></div>
                                <div class="event dot">
                                    <span class="event-label">Child 2</span>
                                </div>
                                <div class="prop"></div>
                            </div>

                            <div class="timeline converge">
                                <div class="prop dashed"></div>
                                <div class="event dot">
                                    <span class="event-label">P 2.1</span>
                                </div>
                                <div class="prop"></div>

                                <div class="event parent">
                                    <span class="event-label">P 2.2</span>
                                    <div class="timeline">
                                        <div class="prop"></div>
                                        <div class="event dot">
                                            <span class="event-label">P 2.2.1</span>
                                        </div>
                                        <div class="prop"></div>
                                        <div class="event dot">
                                            <span class="event-label">P 2.2.1</span>
                                        </div>
                                        <div class="prop"></div>
                                    </div>
                                </div>
                                <div class="prop"></div>
                            </div>

                            <div class="timeline converge">
                                <div class="prop dashed"></div>
                                <div class="event dot">
                                    <span class="event-label">Path 1.1</span>
                                </div>
                                <div class="prop"></div>
                                <div class="event dot">
                                    <span class="event-label">Path 1.1</span>
                                </div>
                                <div class="prop"></div>
                            </div>

                        </div>

                        <div class="prop"></div>

                        <div class="event dot">
                            <span class="event-label">Child 3</span>
                        </div>
                        <div class="prop"></div>
                    </div>
                </div>
                <div class="prop"></div>
            </div>


            <br/><br/><br/>


            <h2>Parallel</h2>

            <div class="timeline">
                <div class="prop"></div>
                <div class="event parent">
                    <div class="timeline">
                        <div class="prop"></div>

                        <div class="event dot">
                            <span class="event-label">Child 1</span>
                        </div>
                        <div class="prop"></div>

                        <div class="parallel">

                            <div class="timeline diverge converge">
                                <div class="prop"></div>
                                <div class="event dot">
                                    <span class="event-label">Child 2</span>
                                </div>
                                <div class="prop"></div>
                            </div>

                            <div class="timeline diverge converge">

                                <div class="prop"></div>

                                <div class="parallel">

                                    <div class="timeline diverge converge">
                                        <div class="prop"></div>
                                        <div class="event dot">
                                            <span class="event-label">P 2.1</span>
                                        </div>
                                        <div class="prop"></div>

                                        <div class="event dot">
                                            <span class="event-label">P 2.2</span>
                                        </div>
                                        <div class="prop"></div>
                                    </div>

                                    <div class="timeline diverge converge">
                                        <div class="prop dashed"></div>
                                        <div class="event dot">
                                            <span class="event-label">P 3.1</span>
                                        </div>
                                        <div class="prop"></div>
                                        <div class="event dot">
                                            <span class="event-label">P 3.2</span>
                                        </div>
                                        <div class="prop"></div>
                                    </div>

                                </div>

                                <div class="prop"></div>
                                <div class="event dot">
                                    <span class="event-label">P 2.3</span>
                                </div>
                                <div class="prop"></div>
                            </div>

                        </div>
                        <div class="prop"></div>

                        <div class="event dot">
                            <span class="event-label">Child 3</span>
                        </div>
                        <div class="prop"></div>

                    </div>
                    <span class="event-label">Parent</span>
                </div>
                <div class="prop"></div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
