<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<!--suppress HtmlUnknownTag, GrazieInspection, XmlDuplicatedId, CheckTagEmptyBody, HtmlExtraClosingTag -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment='header'>

    <title th:text='${projectInfo.name + ": " + title}'>Project Name: Page Name</title>

    <meta charset='UTF-8'/>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0'/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <link rel='icon' type='image/x-icon' href='/images/favicon.ico'
          th:href='@{/images/favicon.ico}'/>
    <link rel='apple-touch-icon-precomposed' href='/images/splat-152-211412.png'
          th:href='@{/images/splat-152-211412.png}'/>

    <link rel='stylesheet' type='text/css' href='/css/autosuggest_inquisitor.css'
          th:href='@{/css/autosuggest_inquisitor.css}'/>
    <link rel='stylesheet' type='text/css' href='/css/default.css'
          th:href='@{/css/default.css}'/>

    <script type='text/javascript' th:inline='javascript'>
        const baseUrl = '/';
        const editingEnabled = [[${editingEnabled}]] ?? false;
        const THEME_ATTRIBUTE = "data-theme";
        const THEME_KEY = "theme";
        const THEME_DEFAULT = "light";
        let TREE_LINKS_SIMPLE = false;

        // Set dark mode early to avoid flicker
        document.documentElement.setAttribute(THEME_ATTRIBUTE, localStorage.getItem(THEME_KEY) || THEME_DEFAULT);
    </script>
    <script type='text/javascript' src='/js/libs/jquery-1.4.3.min.js'
            th:src="@{/js/libs/jquery-1.4.3.min.js}"></script>

    <script type='module' src='/js/app.js'
            th:src='@{/js/app.js}'>
    </script>

    <script type='text/javascript' src='/js/libs/bsn.AutoSuggest_2.1_multiword.js'
            th:src="@{/js/libs/bsn.AutoSuggest_2.1_multiword.js}"></script>
</th:block>

<th:block th:fragment="includeTree">
    <link rel='stylesheet' type='text/css' href='/css/tree.css'
          th:href='@{/css/tree.css}'/>

    <script type='module' src='/js/tree.js'
            th:src='@{/js/tree.js}'>
    </script>
</th:block>
<body>

<th:block th:fragment="includeOntology">
    <link rel='stylesheet' type='text/css' href="/css/ontology.css" th:href='@{/css/ontology.css}'/>
    <script src="/js/libs/chart.umd.js" th:src="@{/js/libs/chart.umd.js}"></script>
    <script src="/js/stats.js" th:src="@{/js/stats.js}"></script>
</th:block>

<th:block th:fragment="includeEditing"
          th:if="${editingEnabled}">
    <link rel='stylesheet' type='text/css' href='/css/query.css'
          th:href='@{/css/query.css}'/>
    <link rel='stylesheet' type='text/css' href='/css/gaphu-0.0.9.css'
          th:href='@{/css/gaphu-0.0.9.css}'/>
    <script type='text/javascript' src='/js/gaphu-0.0.9.js'
            th:src='@{/js/gaphu-0.0.9.js}'></script>
</th:block>

<div id='title' th:fragment="title">
    <h1>
        <img alt="logo" class='icon' src='/images/splat-24-211412.png' th:src='@{/images/splat-24-211412.png}'/>
        <a th:href='@{/}' th:text="${projectInfo.name}">Project Name</a>
    </h1>
    <a class="skip-nav" href='#content'>skip to content</a>
    <div class="group">
        <form id='findForm' action="/axioms/" method='get'>
            <a id="burger">&#8801;</a>
            <input type='text' id='search' class='autocomplete search' name='search' placeholder='search...' autofocus/>
            <div class="search-icon-wrapper">
                <input type='submit' class="search-icon icon" value=""/>
            </div>
        </form>
        <div th:if="${allOntologies != null && allOntologies.size() > 1}" id="ontology-selector">
            <p class="current-ontology" th:text="${ontologiesSfp.getShortForm(ont)}">current ontology</p>
            <ul>
                <li th:each="ont : ${allOntologies}">
                    <a th:href='${pageURIScheme.replacingParam("ontId", ont.getOntologyID().hashCode().toString())}'
                       th:text="${ontologiesSfp.getShortForm(ont)}"
                       rel="nofollow">
                        ontology
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id='menu' th:fragment="menu">

    <ul th:replace='~{base :: tabs}'>Tabs</ul>

</div> <!-- menu -->

<ul id='tabs' th:fragment='tabs'>
    <li><a th:href='@{/ontologies}'>Ontologies</a></li>
    <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(),'git')}">
        <li><a th:href="@{/git/history}">Git</a></li>
    </th:block>
    <th:block th:if="${entityCounts.classes > 0}">
        <li><a th:href='@{/classes}'>Classes</a></li>
    </th:block>
    <li th:if="${entityCounts.individuals > 0}">Individuals:
        <a th:href='@{/individuals}'>by&nbsp;Type</a> /
        <a th:href='@{/relations/onproperty}'>by&nbsp;Relation</a> /
        <a th:href='@{/relations/onannotationproperty}'>by&nbsp;Annotation</a></li>
    <li>Properties:
        <th:block th:if="${entityCounts.objectProperties > 0}"><a th:href='@{/objectproperties}'>Object</a> /</th:block>
        <th:block th:if="${entityCounts.dataProperties > 0}"><a th:href='@{/dataproperties}'>Data</a> /</th:block>
        <th:block th:if="${entityCounts.annotationProperties > 0}"><a th:href='@{/annotationproperties}'>Annotation</a>
        </th:block>
    </li>
    <th:block th:if="${entityCounts.datatypes > 0}">
        <li><a th:href='@{/datatypes}'>Datatypes</a></li>
    </th:block>
    <li><a th:href='@{/axioms}'>Axioms</a></li>
    <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(),'graph')}">
        <li><a th:href="@{/graph}">Graph</a></li>
    </th:block>
    <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(),'reasoners')}">
        <li><a th:href='@{/dlquery}'>DL&nbsp;Query</a></li>
    </th:block>
    <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(),'rdf')}">
        <li><a th:href="@{/sparql}">SPARQL</a></li>
    </th:block>

    <li>Usage:
        <th:block th:if="${entityCounts.classes > 0}"><a th:href='@{/clouds/classes}'>cl</a> /</th:block>
        <th:block th:if="${entityCounts.individuals > 0}"><a th:href='@{/clouds/individuals}'>in</a> /</th:block>
        <th:block th:if="${entityCounts.objectProperties > 0}"><a th:href='@{/clouds/objectproperties}'>op</a> /
        </th:block>
        <th:block th:if="${entityCounts.dataProperties > 0}"><a th:href='@{/clouds/dataproperties}'>dp</a> /</th:block>
        <th:block th:if="${entityCounts.annotationProperties > 0}"><a th:href='@{/clouds/annotationproperties}'>ap</a> /
        </th:block>
        <th:block th:if="${entityCounts.datatypes > 0}"><a th:href='@{/clouds/datatypes}'>dt</a></th:block>
    </li>
</ul> <!-- tabs -->


<div id='content' th:replace='${doclet}.jsp'>Doclet content</div>

<div class="results" th:fragment="results" th:replace="~{base::characteristic (${results})}">
</div>

<!-- paging -->
<span class="paging" th:fragment="paged (data, componentName)"
      th:switch="${(data.start == 1) and (data.pageSize >= data.total)}">
    <span th:case="${true}" th:text='${"(" + data.total + ")"}'>(2)</span>
    <span th:case="${false}">

        <span class="paging-arrow" th:switch="${data.start gt 1}">
            <a th:case="${true}" rel="nofollow"
               th:with="start=${data.start-data.pageSize gt 1 ? data.start-data.pageSize : 1}"
               th:href='${pageURIScheme.updateForPage(componentName, start, data.pageSize)}'>&#8678;</a>
            <span th:case="${false}">&#8678;</span>
        </span>

        <span th:with="end=${T(java.lang.Math).min(data.total, data.start + data.pageSize-1)},
                       total=${T(java.lang.Integer).MAX_VALUE == data.total ? '' : ' of ' + data.total}"
              th:text='${"(" + data.start + "-" + end + total + ")"}'>(1-20 of 100)</span>

        <span class="paging-arrow" th:with="start=${data.start + data.pageSize}" th:switch="${start lt data.total}">
            <a th:case="${true}" rel="nofollow"
               th:href='${pageURIScheme.updateForPage(componentName, start, data.pageSize)}'>&#8680;</a>
            <span th:case="${false}">&#8680;</span>
        </span>
    </span>
</span>


<div th:fragment="characteristic (ch)"
     th:with='name=${T(org.ontbrowser.www.feature.entities.characteristics.PagingUtils).getIdFor(ch.name)}'
     th:class='${"characteristic " + name}'>

    <div class="header">
        <h4 th:text='${ch.name}'>Some Characteristic</h4>
        <span th:replace="~{base::paged (${ch.getPageData()}, ${name})}">(2)</span>
    </div>

    <ul th:remove="all-but-first" th:class="${cls}">
        <li class="asserted" th:each="object : ${ch.objects}">

            <span class="owlobject"
                  th:with="data=${object.owlAxiom() != null ? object.owlAxiom() : object.owlObject()}"
                  th:data="${mos.renderAsPlainString(data)}"
                  th:utext="${mos.render(object.owlObject())}">
                <a href="../../classes/1934778517/" class='Class'
                   title="http://www.co-ode.org/ontologies/pizza/pizza.owl#ThinAndCrispyPizza">ThinAndCrispyPizza</a>
                <span class='keyword'>&equiv;</span>
                <a href="../../classes/140023861/" class='Class'
                   title="http://www.co-ode.org/ontologies/pizza/pizza.owl#Pizza">Pizza</a>
                <span class='keyword'>and</span>
                <span class='active-entity Object Property'>hasBase</span>
                <span class='only'>only</span>
                <a href="../../classes/677040734/" class='Class'
                   title="http://www.co-ode.org/ontologies/pizza/pizza.owl#ThinAndCrispyBase">BaseFinaEQuebradica</a>
            </span>

            <span class="source-ont"
                  th:data="${T(org.ontbrowser.www.util.OWLUtils).ontIRI(object.owlOntology())}"
                  th:utext="${mos.render(object.owlOntology())}"
            >
                pizza.owl
            </span>

            <ul th:if="${object.owlAxiom() != null and !object.owlAxiom().getAnnotations().isEmpty()}"
                th:remove="all-but-first" class="axiom-annotations">
                <li class="axiom-annotation" th:each="annot : ${object.owlAxiom().getAnnotations()}">
                    <span th:utext="${mos.render(annot)}"></span>
                </li>
                <li><span>seeAlso: "<a href="https://github.com/nickdrummond/star-wars-ontology">
                    https://github.com/nickdrummond/star-wars-ontology
                </a>"(anyURI)</span></li>
            </ul>
        </li>
        <li class="asserted">
            <span class="keyword">Functional</span>
            (
            <span class="active-entity Object Property">hasBase</span>
            )
        </li>
        <li class="asserted">
            <span class="keyword">InverseFunctional</span>
            (
            <span class="active-entity Object Property">hasBase</span>
            )
        </li>
    </ul>
</div>

<div id="metrics" class="characteristic metrics" th:fragment="metrics (metrics)" th:if="${metrics != null}">
    <h4>Metrics</h4>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <td th:if="${showImportMetrics}">with imports</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="metric : ${metrics}">
                <td class="metric" th:utext="${metric.getName()}"></td>
                <td class="mvalue" th:utext="${metric.getValue()}"></td>
                <th:block th:utext="${metric.setImportsClosureUsed(true)}" th:if="${showImportMetrics}"/>
                <td class="mvalueimp" th:utext='${metric.getValue()}' th:if="${showImportMetrics}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="googlemaps" th:fragment="map (geo)" th:if="${geo != null}">
    <iframe width="425" height="350" frameborder="0" scrolling="no"
            src="http://maps.google.com/maps"
            th:src="'http://maps.google.com/maps?q=' + ${geo.latitude} + ',' + ${geo.longitude} + '&amp;ie=UTF8&amp;z=14&amp;output=embed'">
    </iframe>
</div>

<div class="imageHolder" th:fragment="image (url)" th:if="${image != null}">
    <img src="/notfound.jpg" th:src="${url}"/>
</div>

<EMBED th:fragment="sound (url)"
       th:if="${sound != null}"
       th:src="${url}" src="/notfound.mp3"
       autostart="true" style="display:none"></EMBED>

<li th:fragment="tree"
    th:if="${t != null}"
    th:classappend="${t.childCount > 0 ? 'with-children' + (!t.children.isEmpty() ? ' expanded' : '') : ''}"
>
    <span th:if='${t.childCount > 0}' class="node" th:data="${statsName}"></span>
    <span th:if='${t.childCount == 0}' class="node"></span>

    <div class="tree-node">
        <span th:each="synonym,iteratorStatus : ${t.value}" th:remove="tag">
            <span th:if="${iteratorStatus.index != 0}" class="keyword">&equiv;</span>
            <span th:utext="${mos.render(synonym)}" th:remove="tag">a thing</span>
        </span>

        <span class='child-count'
              th:if="${stats != null}"
              th:with="stat=${stats.getStats(t.value.getRepresentativeElement())},
                       pStat=${parent != null ? stats.getStats(parent.value.getRepresentativeElement()) : 0},
                       percent=${pStat > 0 ? (stat*100)/pStat : T(java.lang.Math).min(stat,100)}"
              th:styleappend="${stat > 0 ? 'width: ' + (6 + (2 * percent)) + 'px;' : ''}"
              th:utext='${stat > 0 ? stat : ""}'>10</span>
    </div>

    <ul th:replace="~{base::children(${t})}">no children</ul>
</li>

<ul th:fragment="children (t)"
    th:if="${!t.children.isEmpty()}">
    <div class="removeme" th:each="child : ${t.children}" th:remove="tag">
        <li th:replace="~{base::tree(t=${child}, parent=${t})}"></li>
    </div>
</ul>

<div class='owlselector primary' th:fragment="hierarchy (title, hierarchy)" th:if="${hierarchy != null}">
    <h4 class="header"><span class="title" th:text="${title}">Title</span></h4>
    <ul class="minihierarchy" th:classappend="${title}">
        <li th:replace="~{base::tree(t=${hierarchy})}">Top Thing</li>
    </ul>
</div>

<div class='owlselector secondary'
     th:fragment="secondaryhierarchy"
     th:if="${hierarchy2 != null}">

    <h4 class="header">
        <span th:if="${inverse != null && !inverse}" class="keyword">Inverse</span>
        <span class="title" th:text="${type2}">Title</span>
        <a th:if="${inverse}" href="?" class="keyword">↩</a>
        <a th:if="${inverse != null && !inverse}" href="?inverse=true" class="keyword">↪</a>
    </h4>

    <ul class="minihierarchy" th:classappend="${type2}" th:if="${!hierarchy2.children.isEmpty()}">
        <div class="removeme" th:each="child : ${hierarchy2.children}" th:remove="tag">
            <li th:replace="~{base::tree(t=${child}, parent=${hierarchy2}, stats=${stats2}, statsName=${statsName2})}"></li>
        </div>
    </ul>
</div>

<div class='owlselector primary' th:fragment="list (title, entities)" th:if="${entities != null}">
    <h4 class="header"><span class="title"  th:text="${title}">Title</span></h4>
    <ul class="minihierarchy" th:classappend="${type}">
        <li th:each="entity : ${entities}" th:utext="${mos.render(entity)}">
            a thing
        </li>
    </ul>
</div>

<div id='direct' th:fragment="secondary"
     th:if="${direct != null}"
     class="owlselector secondary">

    <h4 class="header"
        th:with='name=${T(org.ontbrowser.www.feature.entities.characteristics.PagingUtils).getIdFor(direct.name)}'>
        <span class="title" th:text='${direct.name}'>Some Characteristic</span>
        <span th:replace="~{base::paged (${direct.getPageData()}, ${name})}">(2)</span>
    </h4>

    <ul th:remove="all-but-first"
        th:class="minihierarchy">
        <li class="asserted"
            th:each="object : ${direct.objects}">
                <span class="owlobject"
                      th:with="data=${object.owlAxiom() != null ? object.owlAxiom() : object.owlObject()}"
                      th:data="${mos.renderAsPlainString(data)}"
                      th:utext="${mos.render(object.owlObject())}">
                    individual
                </span>
        </li>
    </ul>
</div>

<span th:if="${graphLink != null}"
      th:fragment="graphLink"
      class="icon-button">
<a th:href="${graphLink}">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
    <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
    <path d="M0 80C0 53.5 21.5 32 48 32l96 0c26.5 0 48 21.5 48 48l0 16 192 0 0-16c0-26.5 21.5-48 48-48l96 0c26.5 0 48 21.5 48 48l0 96c0 26.5-21.5 48-48 48l-96 0c-26.5 0-48-21.5-48-48l0-16-192 0 0 16c0 1.7-.1 3.4-.3 5L272 288l96 0c26.5 0 48 21.5 48 48l0 96c0 26.5-21.5 48-48 48l-96 0c-26.5 0-48-21.5-48-48l0-96c0-1.7 .1-3.4 .3-5L144 224l-96 0c-26.5 0-48-21.5-48-48L0 80z"/></svg>
</a>
</span>

<div id='footer' th:fragment='footer'>
    <a href="#" id="darkmode" class="light">&#9790;</a>
    <a th:href="${projectInfo.url}" th:text="${projectInfo.tagline}">Project Link</a>
    <a href='https://github.com/nickdrummond/ontology-browser/'>rendered with Ontology Browser</a>
    <a th:href='${"mailto:" + projectInfo.contact}'>Contact</a>
</div>

</body>
</html>
