<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<!--suppress HtmlUnknownTag, GrazieInspection, XmlDuplicatedId, CheckTagEmptyBody, HtmlExtraClosingTag -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment='header'>

    <title th:text='${projectInfo.name + ": " + title}'>Project Name: Page Name</title>

    <meta charset='UTF-8'/>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0'/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900"
          rel="stylesheet">

    <link rel='icon' type='image/x-icon' href='/images/favicon.ico'
          th:href='@{/images/favicon.ico}'/>
    <link rel='apple-touch-icon-precomposed' href='/images/splat-152-211412.png'
          th:href='@{/images/splat-152-211412.png}'/>

    <link rel='stylesheet' type='text/css' href='/css/autosuggest_inquisitor.css'
          th:href='@{/css/autosuggest_inquisitor.css}'/>
    <link rel='stylesheet' type='text/css' href='/css/default.css'
          th:href='@{/css/default.css}'/>

    <script type='text/javascript' th:inline='javascript'>
        const baseUrl = '/';
        const editingEnabled = [[${editingEnabled}]] ?? false;
        const admin = [[${admin}]] ?? false;
        const THEME_ATTRIBUTE = "data-theme";
        const THEME_KEY = "theme";
        const THEME_DEFAULT = "light";
        let TREE_LINKS_SIMPLE = false;

        // Set dark mode early to avoid flicker
        document.documentElement.setAttribute(THEME_ATTRIBUTE, localStorage.getItem(THEME_KEY) || THEME_DEFAULT);
    </script>
    <script type='text/javascript' src='/js/libs/jquery-1.4.3.min.js'
            th:src="@{/js/libs/jquery-1.4.3.min.js}"></script>

    <script type='module' src='/js/app.js'
            th:src='@{/js/app.js}'>
    </script>

    <script type='text/javascript' src='/js/libs/bsn.AutoSuggest_2.1_multiword.js'
            th:src="@{/js/libs/bsn.AutoSuggest_2.1_multiword.js}"></script>
</th:block>

<th:block th:fragment="includeOntology">
    <link rel='stylesheet' type='text/css' href="/css/ontology.css" th:href='@{/css/ontology.css}'/>
    <script src="/js/libs/chart.umd.js" th:src="@{/js/libs/chart.umd.js}"></script>
    <script type="module" src="/js/stats.js" th:src="@{/js/stats.js}"></script>
</th:block>

<th:block th:fragment="includeEditing"
          th:if="${admin}">
    <link rel='stylesheet' type='text/css' href='/css/query.css'
          th:href='@{/css/query.css}'/>
    <link rel='stylesheet' type='text/css' href='/css/gaphu-0.0.9.css'
          th:href='@{/css/gaphu-0.0.9.css}'/>
    <script type='text/javascript' src='/js/gaphu-0.0.9.js'
            th:src='@{/js/gaphu-0.0.9.js}'></script>
</th:block>

<div id='title' th:fragment="title">
    <h1>
        <img alt="logo" class='icon' src='/images/splat-24-211412.png' th:src='@{/images/splat-24-211412.png}'/>
        <a th:href='@{/}' th:text="${projectInfo.name}">Project Name</a>
    </h1>
    <a class="skip-nav" href='#content'>skip to content</a>
    <div class="group">
        <form id='findForm' action="/axioms/" method='get'>
            <a id="burger">&#8801;</a>
            <input type='text' id='search' class='autocomplete search' name='search' placeholder='search...' autofocus/>
            <div class="search-icon-wrapper">
                <input type='submit' class="search-icon icon" value=""/>
            </div>
        </form>
        <div th:if="${allOntologies != null && allOntologies.size() > 1}" id="ontology-selector">
            <p class="current-ontology" th:text="${ont}">current ontology</p>
            <ul>
                <li th:each="ont : ${allOntologies}">
                    <a th:href='${ont.link}'
                       th:text="${ont.label}"
                       rel="nofollow">
                        ontology
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id='menu' th:fragment="menu">

    <ul th:replace='~{base :: tabs}'>Tabs</ul>

</div> <!-- menu -->

<ul id='tabs' th:fragment='tabs'>
    <li><a th:href='@{/ontologies}'>Ontologies</a></li>
    <th:block th:if="${entityCounts.classes > 0}">
        <li><a th:href='@{/classes}'>Classes</a></li>
    </th:block>
    <li th:if="${entityCounts.individuals > 0}">Individuals:
        <a th:href='@{/individuals}'>by&nbsp;Type</a> /
        <a th:href='@{/relations/onproperty}'>by&nbsp;Relation</a> /
        <a th:href='@{/relations/onannotationproperty}'>by&nbsp;Annotation</a></li>
    <li>Properties:
        <th:block th:if="${entityCounts.objectProperties > 0}"><a th:href='@{/objectproperties}'>Object</a> /</th:block>
        <th:block th:if="${entityCounts.dataProperties > 0}"><a th:href='@{/dataproperties}'>Data</a> /</th:block>
        <th:block th:if="${entityCounts.annotationProperties > 0}"><a th:href='@{/annotationproperties}'>Annotation</a>
        </th:block>
    </li>
    <th:block th:if="${entityCounts.datatypes > 0}">
        <li><a th:href='@{/datatypes}'>Datatypes</a></li>
    </th:block>
    <li><a th:href='@{/axioms}'>Axioms</a></li>
    <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(),'graph')}">
        <li><a th:href="@{/graph}">Graph</a></li>
    </th:block>
    <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(),'reasoners')}">
        <li><a th:href='@{/dlquery}'>DL&nbsp;Query</a></li>
    </th:block>
    <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(),'rdf')}">
        <li><a th:href="@{/sparql}">SPARQL</a></li>
    </th:block>

    <li>Usage:
        <th:block th:if="${entityCounts.classes > 0}"><a th:href='@{/clouds/classes}'>cl</a> /</th:block>
        <th:block th:if="${entityCounts.individuals > 0}"><a th:href='@{/clouds/individuals}'>in</a> /</th:block>
        <th:block th:if="${entityCounts.objectProperties > 0}"><a th:href='@{/clouds/objectproperties}'>op</a> /
        </th:block>
        <th:block th:if="${entityCounts.dataProperties > 0}"><a th:href='@{/clouds/dataproperties}'>dp</a> /</th:block>
        <th:block th:if="${entityCounts.annotationProperties > 0}"><a th:href='@{/clouds/annotationproperties}'>ap</a> /
        </th:block>
        <th:block th:if="${entityCounts.datatypes > 0}"><a th:href='@{/clouds/datatypes}'>dt</a></th:block>
    </li>

    <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(),'git')}">
        <li><a th:href="@{/git/history}">Git</a></li>
    </th:block>
</ul> <!-- tabs -->

<div class="results" th:fragment="results" th:replace="~{base::characteristic (${results})}">
</div>

<!-- paging -->
<span class="paging" th:fragment="paged (data, componentName)"
      th:switch="${data.isSinglePage()}">
    <span th:case="${true}" th:text='${"(" + data.total + ")"}'>(2)</span>
    <span th:case="${false}">

        <span class="paging-arrow" th:switch="${data.hasPrevious()}">
            <a th:case="${true}" rel="nofollow"
               th:with="previous=${data.getPrevious()}"
               th:href='${pageURIScheme.updateForPage(componentName, previous.start, previous.pageSize)}'>&#8678;</a>
            <span th:case="${false}">&#8678;</span>
        </span>

        <span th:with="end=${data.end()},
                       totalString=${data.hasTotal() ? ' of ' + data.total : ''}"
              th:text='${"(" + data.start + "-" + end + totalString + ")"}'>(1-20 of 100)</span>

        <span class="paging-arrow" th:switch="${data.hasNext()}">
            <a th:case="${true}" rel="nofollow"
               th:with="next=${data.getNext()}"
               th:href='${pageURIScheme.updateForPage(componentName, next.start, next.pageSize)}'>&#8680;</a>
            <span th:case="${false}">&#8680;</span>
        </span>
    </span>
</span>


<div th:fragment="characteristic (ch)"
     th:with="safeName=${ch.getSafeName()}"
     th:class='${"characteristic " + safeName}'>

    <div class="header">
        <span class="hide-trigger">
            <h4 th:text='${ch.name}'>Some Characteristic</h4>
        </span>
        <span th:replace="~{base::paged (${ch.getPageData()}, ${safeName})}">(2)</span>
    </div>

    <ul th:remove="all-but-first" th:class="${cls}">
        <li class="asserted" th:each="object : ${ch.objects}">

            <a th:if="${editingEnabled}" class="edit-init" href="#">&#9998;</a>

            <span class="owlobject"
                  th:with="data=${object.owlAxiom() != null ? object.owlAxiom() : object.owlObject()}"
                  th:data="${mos.renderAsPlainString(data)}"
                  th:utext="${mos.render(object.owlObject())}">
                <a href="../../classes/1934778517/" class='Class'
                   title="http://www.co-ode.org/ontologies/pizza/pizza.owl#ThinAndCrispyPizza">ThinAndCrispyPizza</a>
                <span class='keyword'>&equiv;</span>
                <a href="../../classes/140023861/" class='Class'
                   title="http://www.co-ode.org/ontologies/pizza/pizza.owl#Pizza">Pizza</a>
                <span class='keyword'>and</span>
                <span class='active-entity Object Property'>hasBase</span>
                <span class='only'>only</span>
                <a href="../../classes/677040734/" class='Class'
                   title="http://www.co-ode.org/ontologies/pizza/pizza.owl#ThinAndCrispyBase">BaseFinaEQuebradica</a>
            </span>

            <span class="source-ont"
                  th:data="${T(org.ontbrowser.www.util.OWLUtils).ontIRI(object.owlOntology())}"
                  th:utext="${mos.render(object.owlOntology())}"
            >
                pizza.owl
            </span>

            <ul th:if="${object.owlAxiom() != null and !object.owlAxiom().getAnnotations().isEmpty()}"
                th:remove="all-but-first" class="axiom-annotations">
                <li class="axiom-annotation" th:each="annot : ${object.owlAxiom().getAnnotations()}">
                    <span th:utext="${mos.render(annot)}"></span>
                </li>
                <li><span>seeAlso: "<a href="https://github.com/nickdrummond/star-wars-ontology">
                    https://github.com/nickdrummond/star-wars-ontology
                </a>"(anyURI)</span></li>
            </ul>
        </li>
        <li class="asserted">
            <span class="keyword">Functional</span>
            (
            <span class="active-entity Object Property">hasBase</span>
            )
        </li>
        <li class="asserted">
            <span class="keyword">InverseFunctional</span>
            (
            <span class="active-entity Object Property">hasBase</span>
            )
        </li>
    </ul>
</div>

<div id="metrics" class="characteristic metrics" th:fragment="metrics (metrics)" th:if="${metrics != null}">
    <h4 class="header"><span class="hide-trigger">Metrics</span></h4>
    <div class="table-wrapper">
        <table>
            <tbody>
            <tr th:each="metric : ${metrics}">
                <td class="metric" th:utext="${metric.getName()}"></td>
                <td class="mvalue" th:utext="${metric.getValue()}" th:if="${!showImportMetrics}"></td>
                <th:block th:utext="${metric.setImportsClosureUsed(true)}" th:if="${showImportMetrics}"/>
                <td class="mvalueimp" th:utext='${metric.getValue()}' th:if="${showImportMetrics}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="googlemaps" th:fragment="map (geo)" th:if="${geo != null}">
    <iframe width="425" height="350" frameborder="0" scrolling="no"
            src="http://maps.google.com/maps"
            th:src="'http://maps.google.com/maps?q=' + ${geo.latitude} + ',' + ${geo.longitude} + '&amp;ie=UTF8&amp;z=14&amp;output=embed'">
    </iframe>
</div>

<div class="imageHolder" th:fragment="image (url)" th:if="${image != null}">
    <img src="/notfound.jpg" th:src="${url}"/>
</div>

<EMBED th:fragment="sound (url)"
       th:if="${sound != null}"
       th:src="${url}" src="/notfound.mp3"
       autostart="true" style="display:none"></EMBED>

<span th:if="${graphLink != null}"
      th:fragment="graphLink"
      class="icon-button">
<a th:href="${graphLink}">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
    <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
    <path d="M0 80C0 53.5 21.5 32 48 32l96 0c26.5 0 48 21.5 48 48l0 16 192 0 0-16c0-26.5 21.5-48 48-48l96 0c26.5 0 48 21.5 48 48l0 96c0 26.5-21.5 48-48 48l-96 0c-26.5 0-48-21.5-48-48l0-16-192 0 0 16c0 1.7-.1 3.4-.3 5L272 288l96 0c26.5 0 48 21.5 48 48l0 96c0 26.5-21.5 48-48 48l-96 0c-26.5 0-48-21.5-48-48l0-96c0-1.7 .1-3.4 .3-5L144 224l-96 0c-26.5 0-48-21.5-48-48L0 80z"/></svg>
</a>
</span>

<div id='footer' th:fragment='footer'>
    <a href="#" id="darkmode" class="light">&#9790;</a>
    <a th:href="${projectInfo.url}" th:text="${projectInfo.tagline}">Project Link</a>
    <a href='https://github.com/nickdrummond/ontology-browser/'>rendered with Ontology Browser</a>
    <a th:href='${"mailto:" + projectInfo.contact}'>Contact</a>
    <span th:if="${admin}">
    admin
        <a th:if="${editingEnabled}"
           th:href="@{/admin/edit-mode(enable=false)}"
           title="Disable edit mode"
        class="edit-toggle">&#9998;</a>
        <a th:if="${!editingEnabled}"
           th:href="@{/admin/edit-mode(enable=true)}"
           title="Enable edit mode"
           class="edit-toggle disabled">&#9998;</a>
        <form th:action="@{/logout}" method="post" style="display:inline">
            <button type="submit" style="background:none;border:none;padding:0;margin-left:1em;color:inherit;cursor:pointer;text-decoration:underline;">Logout</button>
        </form>
    </span>
    <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(),'admin') and !admin}">
        <a th:href="@{/login}" style="margin-left:1em;">Login</a>
    </th:block>
</div>

</body>
</html>
