<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace='~{base :: header (title=${title})}'/>
    <link rel='stylesheet' type='text/css' href='/css/boot.css'
          th:href='@{/css/boot.css}'/>
</head>

<body class="wrapper">

<div th:replace='~{base :: title}'></div>
<div th:replace='~{base :: menu}'></div>

<div id="main">
    <div id="content">
        <h2>Boot</h2>
        <form method="post" action="/boot">
            <p>This is a one-off configuration of your ontology browser.</p>
            <p>The following options will be saved in an application.properties file that will be used on subsequent starts.</p>
            <p th:if="${error != null}" th:text="${error}"></p>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <label for="projectName">Project name:</label>
            <input type="text" id="projectName" name="projectName" required th:value="${currentProjectName}"/>

            <label for="ontologyRootLocation">Ontology Root Location:</label>
            <input type="text" id="ontologyRootLocation" name="ontologyRootLocation" required/>

            <label for="labelIRI">Label IRI:</label>
            <input type="text" id="labelIRI" name="labelIRI" th:value="${labelIRI}"/>

            <label for="language">Language:</label>
            <input type="text" id="language" name="language" th:value="${language}"/>

            <button type="submit">Configure and Restart</button>
            <p>This page will no longer be accessible by users once you have restarted, unless you delete the properties file.</p>
        </form>
    </div>
</div>

<div th:replace='~{base :: footer}'></div>
</body>
</html>