<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert='~{base :: header (title=${"Welcome"})}'/>

    <link rel='stylesheet' type='text/css' href="/css/stats.css" th:href='@{/css/stats.css}'/>
    <script src="/js/libs/chart.umd.js" th:src="@{/js/libs/chart.umd.js}"></script>
    <script src="/js/stats.js" th:src="@{/js/stats.js}"></script>
</head>

<body class="wrapper">

<div th:replace='~{base :: title}'></div>

<div th:replace='~{base :: menu}'></div>

<div id='main'>
    <div id='content'>
        <div class="entity-header">
            <h2 th:text="${title}">An Ontology</h2>

            <div class="iri">
                <h3 th:utext="${mos.renderFullIRI(iri)}">http://example.com/entity-url</h3>
            </div>
        </div>

        <div class="stats-holder" th:data-ont-id="${ontId}" th:data-imports-included="${imports}" data-import-control="false">
            <div class="stats-horizontal">
                <div>
                    <h4>Class or instance</h4>
                    <canvas class="pie-class-vs-inst"></canvas>
                </div>
                <div>
                    <h4>Property types</h4>
                    <canvas class="pie-properties"></canvas>
                </div>
                <div>
                    <h4>Axiom types</h4>
                    <canvas class="pie-axiom-types"></canvas>
                </div>
                <div>
                    <h4>Logical axiom types</h4>
                    <canvas class="pie-axiom-type-counts"></canvas>
                </div>
            </div>
        </div>

        <div class="characteristics">

            <div th:each="ch : ${characteristics}" th:remove="tag">
                <div th:replace="~{base :: characteristic (${ch})}">
                    A characteristic
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace='~{base :: footer}'></div>

</body>
</html>