<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert='~{base :: header (title=${"Welcome"}, rewriteLinks=${false})}'/>

    <link rel='stylesheet' type='text/css' href="/css/stats.css" th:href='@{/css/stats.css}'/>
    <script src="/js/libs/chart.umd.js" th:src="@{/js/libs/chart.umd.js}"></script>
    <script src="/js/stats.js" th:src="@{/js/stats.js}"></script>
</head>

<body class="wrapper">

<div th:replace='~{base :: title}'></div>

<div th:replace='~{base :: menu}'></div>

<div class="welcome"><p>Welcome to the <em th:text="${projectInfo.name}">Ontology name</em>
    created in <a th:href="${projectInfo.url}" th:text="${projectInfo.tagline}"></a>.</p>
</div>

<div id='main'>

    <div class="stats-holder">
        <div class="stats-vertical">
            <canvas id="classVsInst"></canvas>
            <canvas id="properties"></canvas>
        </div>
        <div class="stats-vertical">
            <canvas id="axiomTypes"></canvas>
            <canvas id="axiomTypeCounts"></canvas>
        </div>
        <!--        <canvas id="classChildCount"></canvas>-->
    </div>

</div>

<div th:replace='~{base :: footer}'></div>

</body>
</html>