<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert='~{base :: header (title=${"Welcome"}, rewriteLinks=${false})}'/>

    <link rel='stylesheet' type='text/css' href="/css/stats.css" th:href='@{/css/stats.css}'/>

    <script src="/js/libs/chart.umd.js" th:src="@{/js/libs/chart.umd.js}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            const defaultOptions = {
                circumference: 360,
                showLegend: true,
                getURL: (label) => "/" + label.toLowerCase() + "/",
                isLog: false,
            }

            function createPie(selector, title, labels, data, options) {
                const canvas = document.getElementById(selector);

                options = {...defaultOptions, ...options};

                let displayData = data;

                if (options.isLog) {
                    data = data.map(x => x === 0 ? 0 : Math.log(x));
                }

                const chart = new Chart(canvas,
                    {
                        type: "doughnut",
                        data: {
                            labels: labels,
                            datasets: [{
                                data: data,
                            }],
                        },
                        options: {
                            // ...options, could but then have to nest
                            responsive: false,
                            plugins: {
                                title: {
                                    display: true,
                                    text: title,
                                },
                                legend: {
                                    display: options.showLegend,
                                    position: "bottom",
                                },
                                tooltip: {
                                    callbacks: {
                                        label: function(context) {
                                            return displayData[context.dataIndex];
                                        }
                                    }
                                },
                            },
                            rotation: 270,
                            circumference: options.circumference,
                        }
                    });

                canvas.onclick = function (evt) {
                    const activePoints = chart.getElementsAtEventForMode(evt, 'nearest', {intersect: true}, true)[0];
                    const index = labels[activePoints.index];
                    window.location.href = options.getURL(index);
                };

                canvas.onmousemove = function (evt) {
                    const activePoints = chart.getElementsAtEventForMode(evt, 'nearest', {intersect: true}, true)[0];
                    if (activePoints) {
                        canvas.style.cursor = 'pointer';
                    } else {
                        canvas.style.cursor = 'default';
                    }
                }
            }

            function createScatter(selector, title, coords) {
                const canvas = document.getElementById(selector);
                const chart = new Chart(canvas,
                    {
                        type: "scatter",
                        data: {
                            datasets: [{
                                label: title,
                                data: coords,
                            }],
                        },
                        options: {
                            responsive: false,
                            plugins: {
                                title: {
                                    display: true,
                                    text: title,
                                },
                                legend: {
                                    display: false,
                                    // position: "bottom",
                                }
                            },
                        }
                    }
                );
            }

            function render(stats) {
                let entityCounts = stats.entityCounts;
                const labels = Object.keys(entityCounts);
                const data = Object.values(entityCounts);
                createPie("classVsInst", "Class or instance", labels.slice(0, 2), data.slice(0, 2), {
                    circumference: 180,
                });
                createPie("properties", "Property types", labels.slice(2, 5), data.slice(2, 5), {
                    circumference: 180,
                });

                let axiomCounts = stats.axiomCounts;
                createPie("axiomTypes", "Axiom types", Object.keys(axiomCounts), Object.values(axiomCounts), {
                    circumference: 180,
                    getURL: (label) => "/axioms/?type=" + label,
                });

                let axiomTypeCounts = stats.axiomTypeCounts.counts;
                createPie("axiomTypeCounts", "Logical axiom types", Object.keys(axiomTypeCounts), Object.values(axiomTypeCounts), {
                    showLegend: false,
                    getURL: (label) => "/axioms/?type=" + label,
                    isLog: true,
                });

                // let childCountDistribution = stats.classChildCountDistribution;
                // createScatter("classChildCount", "Class child count", childCountDistribution);
            }

            function reload() {
                const myHeaders = new Headers();
                myHeaders.append("Accept", "application/json");
                let urlSearchParams = new URLSearchParams(window.location.search);
                let url = '/stats' + urlSearchParams.toString();
                fetch(url, {
                    headers: myHeaders,
                })
                    .then(response => {
                        response.json()
                            .then(json => {
                                render(json)
                            });
                    });
            }

            reload();
        });
    </script>
</head>

<body class="wrapper">

<div th:replace='~{base :: title}'></div>

<div th:replace='~{base :: menu}'></div>

<div class="welcome"><p>Welcome to the <em th:text="${projectInfo.name}">Ontology name</em>
    created in <a th:href="${projectInfo.url}" th:text="${projectInfo.tagline}"></a>.</p>
    <!--    <p>Select a popular <span th:text="${entityType}">individual</span> below or search the ontology yourself above.</p>-->
</div>

<div id='main'>

    <div class="statsHolder">
        <canvas id="classVsInst"></canvas>
        <canvas id="properties"></canvas>
        <canvas id="axiomTypes"></canvas>
        <canvas id="axiomTypeCounts"></canvas>
        <!--        <canvas id="classChildCount"></canvas>-->
    </div>

</div>

<div th:replace='~{base :: footer}'></div>

</body>
</html>