<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace='~{base :: header (title=${title})}'/>

    <th:block th:replace="~{edits :: includeEditing}"/>

    <th:block th:replace="~{tree :: includeTree}"/>
</head>

<body class="wrapper">

<div th:replace='~{base :: title}'></div>

<div th:replace='~{base :: menu}'></div>

<div id="main">

    <div id='hierarchy' th:replace="~{tree :: hierarchy('Classes', ${hierarchy})}">
        A hierarchy
    </div>

    <div th:replace="~{tree :: secondary}"></div>

    <!--    <div id='indirect'-->
    <!--         th:if="${indirect != null}"-->
    <!--         th:replace="~{base :: characteristic(${indirect})}">-->
    <!--        Indirect instances-->
    <!--    </div>-->

    <div th:replace="~{owlentityfragment :: owlentity}">
        An entity
    </div>
</div>

<div th:replace='~{base :: footer}'></div>

</body>
</html>