<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert='~{base :: header (title=${"Login"})}'/>
</head>

<body class="wrapper">

<div th:replace='~{base :: title}'></div>

<div th:replace='~{base :: menu}'></div>

<div id='main'>


    <div id='login'>
        <p th:if="${param.logout}">
            You have been logged out.
        </p>

        <h2>Please Log In</h2>

        <form th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="Username"/>
            <input type="password" name="password" placeholder="Password"/>
            <span th:if="${param.error}">
                Invalid username and password.
            </span>
            <input type="submit" value="Log in"/>
        </form>
    </div>
</div>

<div th:replace='~{base :: footer}'></div>

</body>
</html>