<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert='~{base :: header (title=${"SPARQL query: " + select})}'/>
    <script type='module' src='/js/sparql.js'
            th:src='@{/js/sparql.js}'>
    </script>
</head>

<body class="wrapper">

<div th:replace='~{base :: title}'></div>

<div th:replace='~{base :: menu}'></div>

<div id="main" class="three-pane">

    <div id="query-pane" class='codebox'>

        <h3>SPARQL select query</h3>

        <form method='get' id='query-form' action=''>
            <textarea id='sparql-prefixes' name='prefixes'
                      class="editor prefixes"
                      placeholder="PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>"
                      th:text="${prefixes}">
            </textarea>

            <textarea id='select-query' name='select'
                      class="editor"
                      placeholder=""
                      th:text="${select}">
                </textarea>
            <div class="bottom">
                <span>
                    <label for="limit">Page size </label>
                    <select id="limit" name="limit" th:value="${limit}">
                        <option th:value="10">10</option>
                        <option th:value="20">20</option>
                        <option th:value="50">50</option>
                    </select>
                </span>
                <input id="query-submit" type='submit' value='&#9881; run'>
            </div>
        </form>

    </div>
    <div id="content">
    </div>
</div>

<div th:if="${error != null}" id="errorMessage">
    <p th:text="${error}"></p>
</div>

<div th:if="${results != null}"  id='resultsForm'>
    <h3>Results</h3>
    <a th:if="${graphLink != null}" class="graph-button" th:href="${graphLink}">&#9738;</a>

    <table th:if="${!results.isEmpty()}">
        <thead>
        <tr>
            <th th:each="header : ${results[0].keySet()}">
                <span th:text="${header}"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result : ${results}">
            <td th:each="variable : ${result.keySet()}">
                <span th:utext="${mos.render(result.get(variable))}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace='~{base :: footer}'></div>

</body>
</html>